/* Etiket, overwrite original responsive file here, please don't edit responsive.css
-------------------------------------------------------------------------------*

/* Retina and high density screen images
-------------------------------------------------------------------------------*/

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dppx),
only screen and (                min-resolution: 2dppx)   {


}

/* Breakpoint Media Queries
-------------------------------------------------------------------------------*/
/* 1228 => 760 */
@media only screen and (max-width: 1228px) {
	.botLeftCopy_img { width:180px;	cursor:pointer; }
	.web_left_bottom_img p { color:#009999; font-size:15px; text-align:left; cursor:pointer; padding:0px 0px 0px 32px; }
	#winner_copy_btn_turq { color:#FFFFFF; }
	.web_left_bottom_img a, .web_left_bottom_img a:active { color:#000000; text-decoration:none; font-size:9px; font-style:italic; }
	/* GENERAL STYLES */
	.main_container { width:546px; left:50%; margin-left:-250px; padding-top:30px; /* LEFT SIDE OF PAGE = 216px wide */ }
	/* PAGE CONTAINER STUFFS */
	.topRightLogoCont { position:fixed; width:150px; top:0px; right:25px; }
	.topRightLogoCont img { float:right; margin-bottom:10px; }
	.fb_share_thispage, .twitter_share_site, .in_share_btn { float:left; margin-left:0px; cursor:pointer; width:30px; }
	/* HELPER FUNCTIONS */
	.MOBILE { display:block; }
	.DESKTOP { display:none; }
}
/* 1024 => 760 */
@media only screen and (max-width: 1024px) {
	/* PAGE CONTAINER STUFFS */
	.topRightLogoCont { position:fixed; width:150px; top:0px; right:15px; }
	.topRightLogoCont img { float:right; margin-bottom:10px; }
	.fb_share_thispage, .twitter_share_site, .in_share_btn { float:left; margin-left:0px; cursor:pointer; width:30px; }
}
/* 800 => 470 */
@media only screen and (max-width: 800px) {
	/* GENERAL STYLES */
	.main_container {
		position:inherit;
		padding-top:20px;
		width:450px;
		left:50%;
		margin-left:-225px; /* LEFT SIDE OF PAGE = 216px wide */
	}
	.main_mobi_container {
		position:relative;
		width:450px;
		left:50%;
		margin-left:-225px;
	}
	/* MAIN NAVIGATION MENU */
	.mobi_menu_btn { padding-top:1px;}
	.mobi_float_container { }
	.mobi_float_logo { width:127px; }
	.main_nav_container { margin-top:0px; top:10px; left:50%; margin-left:-225px; width:450px; }
	.main_nav { font-size:15px;}
	.nav_item { padding:10px 10px 10px 10px; }
	/* QUOTE STYLES */
	.quote_p { padding-top:10px; padding-left:40px; }
	.quote_img_left { width:30px; }
	.quote_img_right { width:30px; }
	.quote_author { padding-left:40px; }
	/* PAGE: MOBI PAGE 1 */
	.mobi_page_1_container { }
	.mobi_page_1 { background-size:450px; height:900px; }
	.mobi_page_1_bg { background-size:450px; }
	.mobi_p1_cta { top:75px; left:-5px; width:140px; }
	.bottom_container p { font-family: 'fnb_sanslight','Calibri',Arial, Helvetica, sans-serif; font-size:31px; color:#009999; text-align:left; padding:0px 0px 20px 0px; }
	.bottom_container .bottom_left p { font-size:20px; color:#009999; padding:0px 0px 0px 0px; }
	.bottom_container .bottom_left a, .bottom_container .bottom_left a:active { color:#000000; text-decoration:none; font-size:11px; font-style:italic; }
	/* PAGE CONTAINER STUFFS */
	.std_page { position:relative; height:auto; overflow:inherit; }
	/* PAGE: 2 ABOUT THE AWARDS */
	.page_2_container { padding-bottom:20px; padding-top:65px; height:auto; min-height:100px; }
	/* PAGE: 3 ABOUT THE AWARDS */
	.page_3_container { padding-bottom:20px; min-height:100px; }
	.p3_video_container { width:380px; margin-left:-190px; }
	.p3_youtube_iframe { width:380px; height:230px; }
	.p3_h2 { font-size:12px; padding:5px 0px 5px 0px; }
	/* PAGE: 4 SELECTION CRITERIA */
	.page_4_container { padding-bottom:20px; height:auto; min-height:100px; }
	/* left col */
	/* right col */
	/* 3 column contaienrs */
	.p4_3col { width:450px; }
	/* col 1 */
	/* col 2 */
	.p4_3col_col2 { position:relative; float:left; width:450px; left:0%; margin-left:0px; background-size:450px 31px; background-image:none; }
	.p4_3col_col2 h2 { margin:10px 0px 10px 0px; }
	.p4_3col_col2 p { border-width:0px 0px 0px 0px; padding:0px 0px 0px 0px; }
	
	/* col 3 */
	.p4_3col_col3 h2 { margin:10px 0px 10px 0px; }
	.p4_3col_col3 p { padding:0px 0px 0px 0px; }
	/* PAGE: 5 WHO CAN ENTER? */
	.page_5_container { padding-bottom:20px;  min-height:100px; }
	/* PAGE: 6 WHO CAN ENTER? */
	.page_6_container { padding-bottom:20px; min-height:100px; }
	
	/* PAGE: 7 WHO CAN ENTER? */
	.page_7_container { padding-bottom:20px;  min-height:100px; }
	.p7_logo { width:450px; margin:0px 0px 15px -225px; }
	
	/* PAGE: 8 WHO CAN ENTER? */
	.page_8_container { padding-top:130px; padding-bottom:0px; min-height:100px; }
	.page_8_container p { text-align:left; font-size:15px; }
	.page_8_line { margin-bottom:130px; }
	
	/* PAGE: ENTRY FORM */
	.web_form_topLogo { padding-bottom:30px; width:170px; }
	.input_label { width:250px; }
	.form_container { width:450px; margin-left:-225px; }
	.yesno_btn { margin-bottom:10px; width:70px; float:right;}	
	/* LAYER 1 CONTAINERS */
	/* LAYER 1 */
	.l1_col1_container { width:450px; clear:both; }
	.l1_col2_container { position:relative; width:450px; top:auto; left:auto; margin-left:0px;  clear:both; }
	.l1_col3_container { width:450px; clear:both; }
	
	/* LAYER 2 */
	
	/* LAYER 3 */
	.l3_col1_container { width:450px; clear:both;}
	.l3_col2_container { position:relative; width:450px; top:auto; left:auto; margin-left:0px; clear:both; }
	.l3_col3_container { width:450px; clear:both; }
	
	/* LAYER 4 */
	
	
	/* LAYER 5 */
	.l5_text_container { width:450px; }
	.l5_yesno_btn { width:70px; margin:0px 0px 0px 20px; }	

	.footer_container { position:relative; left:auto; }
	.footer_container p { font-size:10px;  }
	.footer_copy { font-size:10px; padding:20px 10px 25px 10px; }

	/* LIGHTBOX */
	.lightbox { top: 150px; left:50%; width:300px; margin-left:-150px; }

	/* HELPER FUNCTIONS */
	.MOBILE { display:block; }
	.DESKTOP { display:none; }
	.HALF_WIDTH_PX { width:225px; }
	.FULL_WIDTH_PX { width:450px; }
}
/* 760 => 470 */
@media only screen and (max-width: 760px) {
	/* GENERAL STYLES */
	.main_container {
		position:inherit;
		padding-top:25px;
		width:450px;
		left:50%;
		margin-left:-225px; /* LEFT SIDE OF PAGE = 216px wide */
	}
	.main_mobi_container {
		position:relative;
		width:450px;
		left:50%;
		margin-left:-225px;
	}
	#PAGE_3_CONTENT .page_h1 { font-size:20px; }
	/* MAIN NAVIGATION MENU */
	.mobi_menu_btn { padding-top:1px;}
	.mobi_float_container {  }
	.mobi_float_logo { width:127px; }
	.main_nav_container { margin-top:0px; top:10px; left:50%; margin-left:-225px; width:450px; }
	.main_nav { font-size:15px;}
	.nav_item { padding:10px 10px 10px 10px; }
	/* QUOTE STYLES */
	.quote_p { padding-top:10px; padding-left:40px; }
	.quote_img_left { width:30px; }
	.quote_img_right { width:30px; }
	.quote_author { padding-left:40px; }
	/* PAGE: MOBI PAGE 1 */
	.mobi_page_1_container { }
	.mobi_page_1 { background-size:450px; height:900px; }
	.mobi_p1_cta { top:75px; left:0px; width:140px; }
	/* PAGE CONTAINER STUFFS */
	.std_page { position:relative; height:auto; overflow:inherit; }
	/* PAGE: 2 ABOUT THE AWARDS */
	.page_2_container { padding-bottom:20px; padding-top:65px; height:auto; min-height:100px; }
	/* PAGE: 3 ABOUT THE AWARDS */
	.page_3_container { padding-bottom:20px; min-height:100px; }
	.p3_video_container { width:380px; margin-left:-190px; }
	.p3_youtube_iframe { width:380px; height:230px; }
	.p3_h2 { font-size:12px; padding:5px 0px 5px 0px; }
	/* PAGE: 4 SELECTION CRITERIA */
	.page_4_container { padding-bottom:20px; height:auto; min-height:100px; }
	/* left col */
	/* right col */
	/* 3 column contaienrs */
	.p4_3col { width:450px; }
	/* col 1 */
	/* col 2 */
	.p4_3col_col2 { position:relative; float:left; width:450px; left:0%; margin-left:0px; background-size:450px 31px; background-image:none; }
	.p4_3col_col2 h2 { margin:10px 0px 10px 0px; }
	.p4_3col_col2 p { border-width:0px 0px 0px 0px; padding:0px 0px 0px 0px; }
	
	/* col 3 */
	.p4_3col_col3 h2 { margin:10px 0px 10px 0px; }
	.p4_3col_col3 p { padding:0px 0px 0px 0px; }
	/* PAGE: 5 WHO CAN ENTER? */
	.page_5_container { padding-bottom:20px;  min-height:100px; }
	/* PAGE: 6 WHO CAN ENTER? */
	.page_6_container { padding-bottom:20px; min-height:100px; }
	
	/* PAGE: 7 WHO CAN ENTER? */
	.page_7_container { padding-bottom:20px;  min-height:100px; }
	.p7_logo { width:450px; margin:0px 0px 15px -225px; }
	
	/* PAGE: 8 WHO CAN ENTER? */
	.page_8_container { padding-top:130px; padding-bottom:0px; min-height:100px; }
	.page_8_container p { text-align:left; font-size:15px; }
	.page_8_line { margin-bottom:130px; }
	
	/* PAGE: ENTRY FORM */
	.web_form_topLogo { padding-bottom:30px; width:170px; }
	.input_label { width:250px; }
	.form_container { width:450px; margin-left:-225px; }
	.yesno_btn { margin-bottom:10px; width:70px; float:right;}	
	/* LAYER 1 CONTAINERS */
	/* LAYER 1 */
	.l1_col1_container { width:450px; clear:both; }
	.l1_col2_container { position:relative; width:450px; top:auto; left:auto; margin-left:0px;  clear:both; }
	.l1_col3_container { width:450px; clear:both; }
	
	/* LAYER 2 */
	
	/* LAYER 3 */
	.l3_col1_container { width:450px; clear:both;}
	.l3_col2_container { position:relative; width:450px; top:auto; left:auto; margin-left:0px; clear:both; }
	.l3_col3_container { width:450px; clear:both; }
	
	/* LAYER 4 */
	
	
	/* LAYER 5 */
	.l5_text_container { width:450px; }
	.l5_yesno_btn { width:70px; margin:0px 0px 0px 20px; }	

	.footer_container { position:relative; left:auto; }
	.footer_container p { font-size:10px;  }
	.footer_copy { font-size:10px; padding:20px 10px 25px 10px; }
	
	.rm_footer_container {
		position:relative;
		bottom:0px;
		left:0px;
		width:100%;
		box-sizing:border-box;
		background-color:transparent;
	}
	.rm_footer_container p { padding-left:14px; }
	.rm_footer_copy { font-size:11px; margin:0px; padding:10px 14px 10px 14px; }
	
	/* LIGHTBOX */
	.lightbox { top: 150px; left:50%; width:300px; margin-left:-150px; }

	/* PAGE: Entry form login and Register */
	.login_n_register_container { width:560px; margin-left:-280px; }
	/* PAGE: Recover password */
	.recover_pass_container { width:280px; margin-left:-140px; padding-bottom:10px; }
	/* PAGE: WINNER */
	.winner_copy strong {
		font-size:14px;
	}
	/* HELPER FUNCTIONS */
	.MOBILE { display:block; }
	.DESKTOP { display:none; }
	.HALF_WIDTH_PX { width:225px; }
	.FULL_WIDTH_PX { width:450px; }
}

/* 470 => 360 */
@media only screen and (max-width: 470px) {
	/* GENERAL STYLES */
	.main_container {
		position:inherit;
		padding-top:25px;
		width:340px;
		left:50%;
		margin-left:-170px; /* LEFT SIDE OF PAGE = 216px wide */
	}
	.main_mobi_container {
		position:relative;
		width:340px;
		left:50%;
		margin-left:-170px;
	}
	/* MAIN NAVIGATION MENU */
	.mobi_float_container {}
	.mobi_float_logo { width:127px; }
	.main_nav_container { margin-top:0px; top:10px; left:50%; margin-left:-40%; width:80%; }

	/* QUOTE STYLES */
	.quote_p { padding-top:10px; padding-left:40px; }
	.quote_img_left { width:30px; }
	.quote_img_right { width:30px; }
	.quote_author { padding-left:40px; }
	/* PAGE: MOBI PAGE 1 */
	.mobi_page_1_container { }
	.mobi_page_1 { background-size:340px; height:600px; }
	.mobi_page_1_bg { background-size:340px; }
	.mobi_p1_cta { top:75px; left:0px; width:140px; }
	.bottom_container { position:absolute; width:100%; bottom:10px; left:0px; padding: 28px;}
	.bottom_container p { font-family: 'fnb_sanslight','Calibri',Arial, Helvetica, sans-serif; font-size:19px; color:#009999; text-align:left; padding:0px 0px 20px 0px; }
	.bottom_container .bottom_left { float:left; width:100%; }
	.bottom_container .bottom_left p { font-size:12px; color:#009999; padding:0px 0px 0px 0px; }
	.bottom_container .bottom_left a, .bottom_container .bottom_left a:active { color:#000000; text-decoration:underline; font-size:9px; font-style:italic; }
	.bottom_container .bottom_right { float:right; width:40%; }
	
	/* PAGE CONTAINER STUFFS */
	.std_page { position:relative; height:auto; overflow:inherit; }
	/* PAGE: 2 ABOUT THE AWARDS */
	.page_2_container { padding-bottom:20px; padding-top:65px; height:auto; min-height:100px; }
	/* PAGE: 3 ABOUT THE AWARDS */
	.page_3_container { padding-bottom:20px; min-height:100px; }
	.p3_video_container { width:340px; margin-left:-170px; }
	.p3_youtube_iframe { width:340px; height:210px; }
	.p3_h2 { font-size:12px; padding:5px 0px 5px 0px; }
	/* PAGE: 4 SELECTION CRITERIA */
	.page_4_container { padding-bottom:20px; height:auto; min-height:100px; }
	/* left col */
	/* right col */
	/* 3 column contaienrs */
	.p4_3col { width:340px; }
	/* col 1 */
	/* col 2 */
	.p4_3col_col2 { position:relative; float:left; width:100%; left:0%; margin-left:0px; background-size:340px 31px; background-image:none; }
	.p4_3col_col2 h2 { margin:10px 0px 10px 0px; }
	.p4_3col_col2 p { border-width:0px 0px 0px 0px; padding:0px 0px 0px 0px; }
	
	/* col 3 */
	.p4_3col_col3 h2 { margin:10px 0px 10px 0px; }
	.p4_3col_col3 p { padding:0px 0px 0px 0px; }
	/* PAGE: 5 WHO CAN ENTER? */
	.page_5_container { padding-bottom:20px;  min-height:100px; }
	/* PAGE: 6 WHO CAN ENTER? */
	.page_6_container { padding-bottom:20px; min-height:100px; }
	
	/* PAGE: 7 WHO CAN ENTER? */
	.page_7_container { padding-bottom:20px;  min-height:100px; }
	.p7_logo { width:340px; margin:0px 0px 15px -170px; }
	
	/* PAGE: 8 WHO CAN ENTER? */
	.page_8_container { padding-bottom:0px; min-height:100px; }
	.page_8_container p { font-size:15px; padding-bottom:10px; }
	
	/* PAGE: ENTRY FORM */
	.input_label { width:150px; }
	.form_container { width:340px; margin-left:-170px; }
	.yesno_btn { margin-bottom:10px; width:70px; float:right;}	
	/* LAYER 1 CONTAINERS */
	/* LAYER 1 */
	.l1_col1_container { width:340px; clear:both; }
	.l1_col2_container { position:relative; width:340px; top:auto; left:auto; margin-left:0px;  clear:both; }
	.l1_col3_container { width:340px; clear:both; }
	
	/* LAYER 2 */
	
	/* LAYER 3 */
	.l3_col1_container { width:340px; clear:both;}
	.l3_col2_container { position:relative; width:340px; top:auto; left:auto; margin-left:0px; clear:both; }
	.l3_col3_container { width:340px; clear:both; }
	
	/* LAYER 4 */
	
	
	/* LAYER 5 */
	.l5_text_container { width:340px; }
	.l5_yesno_btn { width:70px; margin:0px 0px 0px 20px; }	

	/* HELPER FUNCTIONS */
	.MOBILE { display:block; }
	.DESKTOP { display:none; }
	.HALF_WIDTH_PX { width:340px; }
	.FULL_WIDTH_PX { width:340px; }
}

/* 360 => 320 */
@media only screen and (max-width: 360px) {
	/* GENERAL STYLES */
	.main_container {
		position:inherit;
		padding-top:25px;
		width:260px;
		left:50%;
		margin-left:-130px; /* LEFT SIDE OF PAGE = 216px wide */
	}
	.main_mobi_container {
		position:relative;
		width:300px;
		left:50%;
		margin-left:-150px;
	}
	/* MAIN NAVIGATION MENU */
	.mobi_menu_btn { padding-top:1px;}
	.mobi_float_container {}
	.mobi_float_logo { width:127px; }
	.main_nav_container { margin-top:0px; top:10px; left:50%; margin-left:-47%; width:94%; }

	/* QUOTE STYLES */
	.quote_p { padding-top:10px; padding-left:40px; }
	.quote_img_left { width:30px; }
	.quote_img_right { width:30px; }
	.quote_author { padding-left:40px; }
	/* PAGE: MOBI PAGE 1 */
	.mobi_page_1_container { }
	.mobi_page_1 { background-size:300px; height:500px; }
	.mobi_page_1_bg { background-size:300px; }
	.mobi_p1_cta { top:75px; left:-22px; width:140px; }
	.landing_youtube_container { margin-top:165px; margin-bottom:15px; }
	.landing_youtube_container iframe { width:100%; height:160px; }
	.landing_timer { }
	.landing_timer p {
		width:87px;
		overflow:visible;
		height:111px;
		font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
		font-weight:bold;
		font-size:120px;
		line-height:100%;
		line-height:120px;
		color:#009999;
		text-align:left;
		float:left;
		padding:0 0 0 0;
		margin:0 0 0 0;
	}
	.imgOnly { width:71px; }
	.imgDays { width:99px; }
	.imgFNB { width:175px; }

	/* PAGE CONTAINER STUFFS */
	.std_page { position:relative; height:auto; overflow:inherit; }
	/* PAGE: 2 ABOUT THE AWARDS */
	.page_2_container { padding-bottom:20px; padding-top:0px; height:auto; min-height:100px; }
	/* PAGE: 3 ABOUT THE AWARDS */
	.page_3_container { padding-bottom:20px; min-height:100px; }
	.p3_video_container { width:300px; margin-left:-150px; }
	.p3_youtube_iframe { width:300px; height:210px; }
	.p3_h2 { font-size:12px; padding:5px 0px 5px 0px; }
	/* PAGE: 4 SELECTION CRITERIA */
	.page_4_container { padding-bottom:20px; height:auto; min-height:100px; }
	.p4_col_container h2 {  }
	.p4_col_container ul { }
	/* left col */
	.p4_col_ex_left { }
	
	/* right col */
	.p4_col_right_container { }
	.p4_col_ex_right { }
	.p4_col_content { }
	
	/* 3 column contaienrs */
	.p4_3col_container { }
	.p4_3col { width:300px; }
	.p4_3col h2 { }
	
	/* col 1 */
	.p4_3col_col1 { width:260px; }
	
	/* col 2 */
	.p4_3col_col2 { position:relative; float:left; width:260px; left:0%; margin-left:0px; background-size:260px 31px; background-image:none; }
	.p4_3col_col2 h2 { margin:10px 0px 10px 0px; }
	.p4_3col_col2 p { border-width:0px 0px 0px 0px; padding:0px 0px 0px 0px; }
	
	/* col 3 */
	.p4_3col_col3 { width:260px; }
	.p4_3col_col3 h2 { margin:10px 0px 10px 0px; }
	.p4_3col_col3 p { padding:0px 0px 0px 0px; }

	/* PAGE: 5 WHO CAN ENTER? */
	.page_5_container { padding-bottom:20px;  min-height:100px; }
	
	/* PAGE: 6 WHO CAN ENTER? */
	.page_6_container { padding-bottom:20px; min-height:100px; }
	.p6_main_image { }
	
	/* PAGE: 7 WHO CAN ENTER? */
	.page_7_container { padding-bottom:20px;  min-height:100px; }
	.p7_logo { width:260px; margin:0px 0px 15px -130px; }
	
	/* PAGE: 8 WHO CAN ENTER? */
	.page_8_container { padding-bottom:0px; min-height:100px; }
	.page_8_container p { font-size:15px; }
	
	/* PAGE: ENTRY FORM */
	.input_label { width:150px; }
	.form_container { width:300px; margin-left:-150px; }
	.yesno_btn { margin-bottom:10px; width:70px;}	
	/* LAYER 1 CONTAINERS */
	/* LAYER 1 */
	.l1_col1_container { width:300px; clear:both; }
	.l1_col2_container { position:relative; width:300px; top:auto; left:auto; margin-left:0px;  clear:both; }
	.l1_col3_container { width:300px; clear:both; }
	
	/* LAYER 2 */
	
	/* LAYER 3 */
	.l3_col1_container { width:300px; clear:both;}
	.l3_col2_container { position:relative; width:300px; top:auto; left:auto; margin-left:0px; clear:both; }
	.l3_col3_container { width:300px; clear:both; }
	
	/* LAYER 4 */
	
	
	/* LAYER 5 */
	.l5_text_container { width:300px; }
	.l5_yesno_btn { width:30px; }	


	.footer_container { margin-top:10px; position:relative; left:auto; }
	.footer_container p { font-size:10px;  }
	.footer_copy { font-size:10px; padding:20px 15px 25px 15px; }


	/* HELPER FUNCTIONS */
	.MOBILE { display:block; }
	.DESKTOP { display:none; }
	.HALF_WIDTH_PX { width:260px; }
	.FULL_WIDTH_PX { width:260px; }
}


/* END: Media Queries
-------------------------------------------------------------------------------*/


/* Print styles!
-------------------------------------------------------------------------------*/
@media print {

}