@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'fnb_sansthin_italic';
    src: url('fonts/fnb_sans-thinitalic-webfont.eot');
    src: url('fonts/fnb_sans-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-thinitalic-webfont.woff') format('woff'),
         url('fonts/fnb_sans-thinitalic-webfont.ttf') format('truetype'),
         url('fonts/fnb_sans-thinitalic-webfont.svg#fnb_sansthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fnb_sans_regularbold';
    src: url('fonts/fnb_sans-bold-webfont.eot');
    src: url('fonts/fnb_sans-bold-webfont.svg#fnb_sans_regularbold') format('svg'),
		 url('fonts/fnb_sans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-bold-webfont.woff') format('woff'),
         url('fonts/fnb_sans-bold-webfont.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fnb_sans_regularitalic';
    src: url('fonts/fnb_sans-italic-webfont.eot');
    src: url('fonts/fnb_sans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-italic-webfont.woff') format('woff'),
         url('fonts/fnb_sans-italic-webfont.ttf') format('truetype'),
         url('fonts/fnb_sans-italic-webfont.svg#fnb_sans_regularitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fnb_sansthin';
    src: url('fonts/fnb_sans-thin-webfont.eot');
    src: url('fonts/fnb_sans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-thin-webfont.woff') format('woff'),
         url('fonts/fnb_sans-thin-webfont.ttf') format('truetype'),
         url('fonts/fnb_sans-thin-webfont.svg#fnb_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fnb_sans_regularregular';
    src: url('fonts/fnb_sans-regular-webfont.eot');
    src: url('fonts/fnb_sans-regular-webfont.svg#fnb_sans_regularregular') format('svg'),
		 url('fonts/fnb_sans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-regular-webfont.woff') format('woff'),
         url('fonts/fnb_sans-regular-webfont.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fnb_sanslight';
    src: url('fonts/fnb_sans-light-webfont.eot');
    src: url('fonts/fnb_sans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-light-webfont.woff') format('woff'),
         url('fonts/fnb_sans-light-webfont.ttf') format('truetype'),
         url('fonts/fnb_sans-light-webfont.svg#fnb_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{ -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%}
html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body,td,th {
	/*font-family: 'Samsung_Interface_REGULAR','Calibri',Arial, Helvetica, sans-serif;*/
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size: 15px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color:#000000;
	background-color:#FFFFFF;
	background-attachment:fixed;
}
a {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	outline:none;
	text-decoration:underline;
	border:none;
}
img {
	border:none !important;
	margin:0px;
}
p {
	font-size:13px;
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0px;
	padding:0px 0px 20px 0px;
}
h1, h2, h3, h4 { margin:0px; padding:0px; line-height:100%; line-height:1; }
h1 {
	/*font-family: 'Samsung_Interface_REGULAR','Calibri',Arial, Helvetica, sans-serif;*/
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:24px;
	text-transform:uppercase;
	padding:0px;
	margin:0px;
	text-align:center;
}
h2 {
	/*font-family: 'Samsung_Interface_REGULAR','Calibri',Arial, Helvetica, sans-serif;*/
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	padding:0px;
	margin:0px;
}
h3 {
	font-size:17px;
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0px;
	padding:0px 0px 20px 0px;
	color:#999999;
}



/* --- *** *** *** -- */
/* PROJECT STYLES STARTS HERE */
#bg1, #bg2, #bg3 {
	z-index:50;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../images/test-images/bubbles.png) repeat 0 0;
}

#bg2 {
	z-index:49;
	background-image:url(../images/test-images/bubbles2.png);
}

#bg3 {
	z-index:48;
	background-image:url(../images/test-images/bubbles3.png);
}
#intro {
	width:90%;
	left:50%;
	top:1em;
	margin-left:-45%;
	padding:2em;
	background:#fff;
	text-align:center;
	border-radius:1em;

	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#intro .arrows {
	font-size:2em;
	color:#09f;
}
.web_menu_btn_img {
	margin-top:36px;
	left:34px;
	width:45px;
	cursor:pointer;
}
.web_left_bottom_img {
	position:fixed;
	bottom:0px;
	left:0px;
}
.web_left_bottom_img p { color:#009999; font-size:17px; text-align:left; cursor:pointer; padding:0px 0px 0px 32px; }
#winner_copy_btn_turq { color:#FFFFFF; }
.web_left_bottom_img a, .web_left_bottom_img a:active { color:#000000; text-decoration:none; font-size:10px; font-style:italic; }
.web_left_bottom_img .turq_terms { color:#FFFFFF; }
.web_right_bottom_social {
	position:fixed;
	bottom:80px;
	right:40px;
	width:25px;
}
.web_right_bottom_social img {
	cursor:pointer;
}
.web_scroll_image {
	position:fixed;
	bottom:0px;
	left:50%;
	margin-left:76px; /* -32px */
}
.web_scroll_img {
	width:65px;
}
.topLeftLogo_white {
	position:fixed;
	top:100px;
	left:4px;
	width:207px;
}
.topLeftCopy_img {
	width:207px;
}
.botLeftCopy_img {
	width:222px;
	cursor:pointer;
}

/* ----------------------------------------- */
/* GENERAL STYLES */
.main_container {
	position:relative;
	top:0px;
	width:546px;
	left:50%;
	margin-left:-240px; /* LEFT SIDE OF PAGE = 216px wide */
}
.main_mobi_container {
	position:relative;
	width:750px;
	left:50%;
	margin-left:-375px;
}
.page_h1 {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	border-style:solid;
	border-width:1px 0px;
	padding:10px 10px 10px 10px;
	margin:0px 0px 30px 0px;
}
.page_bottom_h1 {
	font-size:20px;
	margin:5px 0px 10px 0px;
}
.square_btn {
	width:100px;
	height:25px;
		
	background-image:url(../images/btn_arrow.png);
	background-position:right center;
	background-color:#f99d1e;
	background-repeat:no-repeat;
	cursor:pointer;
	
	border:0px solid #ffd58c;
	cursor:pointer;
	
	color:#FFFFFF;
}
.square_btn p {
	color:#FFFFFF;
}
.square_btn:hover {
	background-color:#009999;
}
.square_btn_p {
	margin:0px;
	font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:bold;
	font-size:13px;
	color:#FFFFFF;
	font-weight:normal;
	text-align:left;
	padding:4px 7px 0px 7px;
}
.square_btn_href {
	text-decoration:none;
}
.square_btn_p a {
	color:#FFFFFF;
	text-decoration:none;
}
.square_btn_p a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
.left_btn {
	width:95px;
	float:left;
	margin-top:5px;
}
.enter_now_btn {
	width:92px;
	margin-left:28px;
	float:left;
	background-image:url(../images/btn_arrow.png);
	cursor:pointer;
	margin-top:15px;
}
.enter_now_btn:hover {
	background-color:#f99d1e;
}
.back_btn {
	width:60px;
	float:left;
}
.entries_closed { background-image:none; }
.web_right_bottom_img { position:fixed; bottom:0px; right:0px; }


/* MAIN NAVIGATION MENU */
#nav_menu_btn_close {
	cursor:pointer;
}
.mobi_menu_btn {
	float:left;
	width:45px;
	cursor:pointer;
	margin: 0 0 0 -31px;
}
.mobi_float_container {
	position:fixed;
	top:0px;
	left:0px;
	margin-left:0px;
	width:100%;
	background-color:#FFFFFF;
	padding:10px;
	box-sizing:border-box;
}
.mobi_float_logo {
	float:right;
	width:146px;
}
.main_nav_container {
	position:fixed;
	top:20px;
	left:20px;
	background-color:#009999;
	padding:0px 0px;
	border:2px solid #FFFFFF;
	
	width:207px;
	overflow:hidden;
}
.main_nav {
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:left;
	padding:0px 0px;
	margin:0px;
	font-size:13px;
	color:#FFFFFF;
}
.main_nav hr {
	border-style:solid;
	border-width:1px 0px 0px 0px;
	color:#FFFFFF;
	margin:0px 10px;
}
.main_nav a {
	color:#FFF;
	text-decoration:none;
}
.main_nav a:visited {
	color:#FFF;
	text-decoration:none;
}
.nav_item {
	color:#FFF;
	padding:5px 10px 5px 10px;
	cursor:pointer;
}
.nav_item:hover {
	background-image:url(../images/dpi_144/web_nav_arrow.png);
	background-position:right;
	background-repeat:no-repeat;
	background-size:17px 30px;
	background-color:#fa9d1e;
}
.no_arrow:hover {
	background-image:none;
}
.nav_social_btns {
	padding:5px 0px 0px 10px;
}
.nav_social_btns img {
	cursor:pointer;
	padding-right:10px;
}

/* QUOTE STYLES */
.quote_p {
	font-family: 'fnb_sansthin_italic','Calibri',Calibri,Arial, Helvetica, sans-serif;
	padding-top:15px;
	padding-left:45px;
}
.quote_img_left {
	float:left;
	width:35px;
	padding:0px 10px 10px 0px;
}
.quote_img_right {
	float:right;
	width:35px;
	margin-top:10px;
}
.quote_author {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:left;
	padding-top:10px;
	padding-left:45px;
}
.quote_author {
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
}

/* ACCORDIAN STYLES */
.accordian_drop_hr {
	border-style:solid;
	border-width:1px 0px 0px 0px;
	padding:0px;
	margin:10px 0px;
}
.accordian_drop_btn {
	position:relative;
	width:54px;
	left:50%;
	margin-left:-27px;
	margin-top:-14px;
	cursor:pointer;
}
.accordian_close_btn {
	position:relative;
	width:54px;
	left:50%;
	margin-left:-27px;
	margin-top:-14px;
	cursor:pointer;
	display:none;
}
.accordian_ex_container {
	overflow:hidden;
	height:auto;
}
.accordian_ex_container ul {
	padding:0px 15px;
	margin:0px 0px 20px 0px;
	color:#000000;
}
.accordian_ex_container li {
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:inherit;
	text-transform:none;
	text-align:left;
	font-size:13px;
}


/* PAGE CONTAINER STUFFS */
.mobi_page_anchor {
	position:absolute;
	margin-top:-70px;
}
.std_page {
	width:100%;
	background-color:#009999;
	height:100%;
	overflow:hidden;
}
.topRightLogoCont { position:fixed; width:195px; top:0px; right:25px; }
.topRightLogoCont img { float:right; margin-bottom:15px; }
.fb_share_thispage, .twitter_share_site, .in_share_btn { float:left; margin-left:0px; cursor:pointer; width:30px; }



/* PAGE: 1 INTRO */
.page_1_container {
background-color:#FFFFFF;
}
.web_01_toplogo {
	float:right;
	width:100%;
}
.web_01_mute_btn {
	position:absolute;
	bottom:106px;
	right:20px;
	cursor:pointer;
	width:50px;
}
video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(../images/video_image.png) no-repeat;
	background-size: cover;
}
video { display: block; }
.video_play_btn {
	position:absolute;
	margin: 0;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	cursor:pointer;
}

.landing_youtube_container {
	margin-top:200px;
	margin-bottom:20px;
}
.landing_youtube_container iframe { width:100%; height:200px; }
.landing_timer {
}
.landing_timer p {
	width:108px;
	overflow:visible;
	height:137px;
	font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:150px;
	line-height:100%;
	line-height:150px;
	color:#009999;
	text-align:left;
	float:left;
	padding:0 0 0 0;
	margin:0 0 0 0;
}

.winner-holder{

	width: 100%;
	max-width: 400px;
	position: relative;
	margin: 0px auto 0px auto;

}
.winner-holder video{
	width: 100%;
	height: auto;
	background-color:#FFFFFF;
}

.landing_9june{
	margin: 20px 0 0 0;
	width: 100%;
}
#btn_video_play{
	margin: 0 auto;
	position: absolute;
    top: 100px;
}


/* PAGE: MOBI PAGE 1 */
.mobi_page_1_container {
	position:relative;
	/*height:auto;*/
	/*min-height:100%;*/
	height: calc(100vh - 40px);
	background-color:#FFFFFF;

	background-image:url(../images/face.jpg);
	background-repeat:no-repeat;
	/*background-size:546px;*/
	background-position:right top;
	
  border-bottom: 1px solid #e6e6e6;
  padding: 0 0 40px 0;
}
.mobi_page_1 {
	height:auto;
	min-height:606px;
/*	background-image:url(../images/mobi_p1_bg.png);
	background-repeat:no-repeat;
	background-size:546px;
	background-position:top;*/
}
.mobi_p1_cta {
	position:absolute;
	top:100px;
	left:0px;
	width:100px;
}
.mobi_p1_footer_copy {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:left;
	padding:5px 0px 5px 0px;
	margin:0px 0px 0px 0px;
	font-size:14px;
}
.mobi_p1_terms_copy {
	font-family: 'fnb_sans_regularitalic','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	font-size:10px;
}
.bottom_container { position:absolute; width:100%; bottom:10px; left:0px; }
.bottom_container p { font-family: 'fnb_sanslight','Calibri',Arial, Helvetica, sans-serif; font-size:25px; color:#009999; text-align:left; padding:0px 0px 20px 0px; }
.bottom_container .bottom_left { float:left; width:60%; }
.bottom_container .bottom_left p { font-size:18px; color:#009999; padding:0px 0px 0px 0px; }
.bottom_container .bottom_left a, .bottom_container .bottom_left a:active { color:#000000; font-size:11px; font-style:italic; font-weight: bold; }
.bottom_container .bottom_right { float:right; width:40%; margin: 40px 0 0 0px; }




/* PAGE: 2 ABOUT THE AWARDS */
.page_2_container {
	width:100%;
	height:auto;
	min-height:100%;
}


/* PAGE: 3 ABOUT THE AWARDS */
.page_3_container {
	width:100%;
	height:auto;
	min-height:100%;
}
.p3_video_container {
	position:relative;
	width:380px;
	left:50%;
	margin-left:-190px;
}
.p3_h2 {
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:justify;
	border-style:solid;
	border-width:1px 0px;
	padding:5px 10px 5px 0px;
	margin:0px 0px 0px 0px;
	font-size:11pt;
}
.p3_youtube_iframe {
	margin:10px 0px;
	padding:0px;
	width:380px;
	height:230px;
}

/* PAGE: 4 SELECTION CRITERIA */
.page_4_container {
	width:100%;
	height:auto;
	min-height:100%;
}
.p4_list_first {
	padding:0px;
}
.p4_col_container {
	box-sizing:border-box;
}
.p4_col_container h2 {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:center;
	border:none;
	padding:10px 0px;
	margin:0px 0px 0px 0px;
	font-size:13px;
	color:#FFFFFF;
}
.p4_col_container ul {
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:left;
	padding:0px 15px;
	margin:0px;
	font-size:12px;
	color:#FFFFFF;
}
.p4_col_ex_btn_container {
	background-color:#FFFFFF;
	height:50px;
}
/* left col */
.p4_col_left_container {
	float:left;
	background-color:#009999;
	color:#FFFFFF;
}
.p4_col_ex_left {
	margin:0px;
	padding:0px;
	
	overflow:hidden;
	height:auto;
	
	box-sizing:border-box;
}
.btn_p4_col_left {
	cursor:pointer;
}

/* right col */
.p4_col_right_container {
	float:right;
	background-color:#66c2c2;
	color:#FFFFFF;
}
.p4_col_ex_right {
	margin:0px;
	padding:0px;
	
	overflow:hidden;
	height:auto;
	
	box-sizing:border-box;
}
.p4_col_content {
	border-style:solid;
	border-width:1px 0px 0px 0px;
	border-color:#FFFFFF;
	margin:0px 10px;
	padding:20px 0px;
	box-sizing:border-box;
}

.btn_p4_col_right {
	cursor:pointer;
}

/* 3 column contaienrs */
.p4_3col_container { position:relative; padding-bottom:10px; }
.p4_3col {
	width:182px;
	box-sizing:border-box;
}
.p4_3col h2 {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:justify;
	border-style:solid;
	border-width:1px 0px;
	padding:5px 0px 5px 0px;
	margin:0px 0px 0px 0px;
	font-size:13px;
}
.p4_3col p {
	color:#000000;
}

/* col 1 */
.p4_3col_col1 {
	float:left;
}
.p4_3col_col1 h2 {
	margin:0px 10px 10px 0px;
}
.p4_3col_col1 p {
	padding:0px 10px 0px 0px;
}


/* col 2 */
.p4_3col_col2 {
	position:absolute;
	width:182px;
	box-sizing:border-box;
	top:0px;
	left:50%;
	margin-left:-91px;
	background:url(../images/dpi_144/web_04_col2_bg.png) no-repeat top;
	background-size:182px 31px;	
}
.p4_3col_col2 h2 {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:justify;
	border-style:solid;
	border-width:1px 0px;
	padding:5px 0px 5px 0px;
	margin:0px 10px 10px 10px;
	font-size:13px;
}
.p4_3col_col2 p {
	border-style:solid;
	border-color:#CCCCCC;
	border-width:0px 1px 0px 1px;
	padding:0px 10px 0px 10px;
	margin:10px 0px 0px 0px;
}

/* col 3 */
.p4_3col_col3 {
	float:right;
}
.p4_3col_col3 h2 {
	margin:0px 0px 10px 10px;
}
.p4_3col_col3 p {
	padding:0px 0px 0px 10px;
}



/* PAGE: 5 WHO CAN ENTER? */
.page_5_container {
	width:100%;
	height:auto;
	min-height:100%;
}

/* PAGE: 6 WHO CAN ENTER? */
.page_6_container {
	width:100%;
	height:auto;
	min-height:100%;
}
.p6_main_image {
	padding-bottom:15px;
}
.p6_slider {
	margin-bottom:0px;
}
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.judge_profile_img, .judge_profile_logo {
	width:100%;
	/*margin: 0 auto;
	display: block;*/
	padding:15px 0px 15px 0px;
}
.judge_profile_logo {
	width:100%;
	padding:15px 0px 0px 0px;
}
.judge_name {
	font-size:20px;
	text-transform:uppercase;
}
#judges_slider .owl-page span {
	background-color:#009999;
}

.p6_slider p {
	padding-right:40px;
}
.finalist-link { color:#000000; }

/* PAGE ALUMNI */
.alumni_colour_cont { background-color:#00b4b9; }
.alumni_nav_cont, .alumni_nav_btn_cont, .alumni_full_heading {
	background-position:center bottom;
	background-size:43px 9px;
	background-repeat:no-repeat;
	width:50%;
	float:left;
	background-color:#009595;
	cursor:pointer;
}
.alumni_nav_cont p, .alumni_full_heading p {
	font-family:'fnb_sansthin';
	color:#FFFFFF;
	text-align:center;
	padding:10px;
	font-weight:100;
	font-size:12px;
}
.alumni_nav_btn_cont {
	background-position:center top;
	background-image:url(../images/mobi_read_more_open.svg);
	background-size:43px 28px;
	min-height:50px;
	background-color:transparent;
}
.alumni_full_heading {
	width:100%;
	box-sizing: border-box;
}
.alumni_colour_cont div:first-child { width:50%; background-color:#00595a; }
.alumni_colour_cont div:last-child { width:50%; background-color:#009999; }
.read_more_btn { background-image:url(../images/mobi_read_more_closed.svg); }
.read_more_dt_btn { background-image:url(../images/mobi_read_more_dt_closed.svg); }
.read_more_lt_btn { background-image:url(../images/mobi_read_more_lt_closed.svg); }
.white_up_arrow { background-image:url(../images//mobi_read_more_white_arrow_up-01.svg); }
.slider_expand_cont { padding-bottom:20px;  }
.alumni_slider_bg_color_dt { background-color:#00595a;  }
.alumni_slider_bg_color_t { background-color:#009999;  }
/*.alumni_slider_bg_color_lt { background-color:#00b4b9;  }*/
.alumni_slider_bg_color_lt { background-color:#00adad;  }



/* PAGE: 7 WHO CAN ENTER? */
.page_7_container {
	width:100%;
	height:auto;
	min-height:100%;
}
.p7_logo {
	position:relative;
	width:322px;
	left:50%;
	margin:0px 0px 25px -161px;
	padding:0px 0px 0px 0px;
}

/* PAGE: 8 WHO CAN ENTER? */
.page_8_container {
	width:100%;
	height:auto;
	min-height:100%;
}
.contact_us_copy {
	text-align:center;
	font-size:18px;
}
.footer_container {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	box-sizing:border-box;
	background-color:#FFFFFF;
}
.footer_container p {
	text-align:left;
}
.footer_copy {
	font-size:11px;
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0px;
	padding:20px 30px 20px 30px;
}

/* PAGE: ENTRY FORM */
.web_form_topLogo {
	float:right;
	padding-bottom:20px;
}
.square_submit_btn, .square_save_btn {
	width:100px;
	height:25px;
		
	background-image:url(../images/dpi_72/btn_arrow.png);
	background-position:right center;
	background-color:#f99d1e;
	background-repeat:no-repeat;
	cursor:pointer;
	
	
	margin:15px 15px 0px 0px;
	font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:bold;
	font-size:13px;
	color:#FFFFFF;
	font-weight:normal;
	text-align:center;
	padding:0px 10px 0px 3px;
	
	border:0px solid #ffd58c;
}

.square_save_btn { background-color:#009999; }
.form_container {
	position:relative;
	width:660px;
	left:50%;
	margin-left:-330px;
	padding-bottom:40px;
	border:0px solid #0F0;
}
.input_label {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:left;
	padding:2px 0px 0px 10px;
	margin:0px 0px 0px 0px;
	font-size:12px;
	color:#999999;
}
.yesno_btn {
	float:left;
	width:50px;
	height:22px;
	padding:3px 0px 0px 0px;
	margin:0px 0px 0px 20px;
	box-sizing:border-box;
	
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#999999;
	text-align:center;
	background-color:#E6E6E6;
	border:none;
	
	cursor:pointer;
}
.yesno_btn:hover {
	color:#FFFFFF;
	background-color:#fa9d1e;
}
.form_bottom_margin { margin-bottom:18px; }
.form_no_bottom_margin { margin-bottom:0px; }
.please_note_copy {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:left;
	padding:2px 10px 0px 10px;
	margin:0px 0px 0px 0px;
	font-size:12px;
	color:#999999;
}

/* LAYER 1 CONTAINER */
.l1_container { position:relative; }
.l2_container { position:relative; }
.l3_container { position:relative; }
.l4_container { position:relative; padding-bottom:20px;}
.l5_container { position:relative; }
.l6_container { position:relative; }
.l7_container { position:relative; }
/* LAYER 1 */
.l1_col1_container {
	float:left;
	width:222px;
	box-sizing:border-box;
}
.l1_col2_container {
	position:absolute;
	width:241px;
	box-sizing:border-box;
	top:0px;
	left:50%;
	margin-left:-90px;
}
.l1_col3_container {
	float:right;
	width:160px;
	box-sizing:border-box;
}

/* LAYER 2 */



/* LAYER 3 */
.l3_col1_container {
	float:left;
	width:205px;
	box-sizing:border-box;
}
.l3_col2_container {
	position:absolute;
	width:210px;
	box-sizing:border-box;
	top:0px;
	left:50%;
	margin-left:-105px;
}
.l3_col3_container {
	float:right;
	width:205px;
	box-sizing:border-box;
}

/* LAYER 4 */


/* LAYER 5 */
.l5_text_container {
	float:right;
	width:425px;
	box-sizing:border-box;
}
.l5_yesno_btn {
	width:30px;
	margin:0px 0px 0px 10px;
}
.form_error_copy {
	font-size:14px;
	color:#999999;
}







.input_text {
	background-color:#E6E6E6;
	border:none;
	color:#000000;

	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:5px 10px 5px 10px;
	margin:0px 0px 20px 0px;
	line-height:100%;
	line-height:1;
	
	box-sizing:border-box;
}
.placeholder_text { color:#999; }
.input_textarea {
	background-color:#E6E6E6;
	border:none;
	color:#999999;

	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:5px 10px 5px 10px;
	margin:0px 0px 20px 0px;
	line-height:100%;
	line-height:1;
	
	box-sizing:border-box;
}
input, textarea, keygen, select, button {
	margin: 0em;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
}
input, textarea, keygen, select, button, meter, progress {
	-webkit-writing-mode: horizontal-tb;
}
.select_list {	
	-webkit-appearance: menulist;
	box-sizing: border-box;
	align-items: center;
	border: 0px solid;
	/*
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	*/
	color: #999999;
	background-color:#E6E6E6;
	
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:5px 10px 5px 10px;
	margin:0px 0px 20px 0px;
	line-height:100%;
	line-height:1;
	
	border:none;
    outline:none;
    display:inline-block;
	/*
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
	*/
    cursor:pointer;
	box-sizing:border-box;
}
/* LIGHTBOX */
.lightbox {
  position: absolute; top: 195px; left: 50%;
  
  z-index: 9999; display: none;
  background-color:#FFFFFF;
  width:400px;
  min-height:100px;
  margin-left:-200px;
}
.lightbox-close {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #aaa;
  background: rgba(255, 255, 255, 1);
  text-decoration: none;
  color:#009999;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  padding: 0px;
  font: bold 14px/1.3 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
  
  cursor:pointer;
}
.lightbox-close:hover {
  background: #009999;
  background: rgba(0, 153, 153, 0.5);
}
.lightbox-close:active {
  background: #ccc;
  background: rgba(0, 153, 153, 0.3);
  -webkit-box-shadow: inset black 0 0 5px;
     -moz-box-shadow: inset black 0 0 5px;
      -ms-box-shadow: inset black 0 0 5px;
       -o-box-shadow: inset black 0 0 5px;
          box-shadow: inset black 0 0 5px;
}
.lightbox-mask {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  background: #FFFFFF;
  background: rgba(255, 255, 255, 1);
  z-index: 9998; display: none;
}
.skrollr_lightbox-mask {
	width: 100%; height: 100%;
	background: #FFFFFF;
	background: rgba(255, 255, 255, 1);
	display: block;
	background-image:url(../images/loader_2.gif);
	background-position:center center;
	background-repeat:no-repeat;
}
.lightbox_content {
	padding:0px;
}
.lightbox_content p {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;

	line-height:130%;
	line-height:1.3;
}


.full_text_width {
	width:100%;
}

/* PAGE: THANKYOU */
.thankyou_copy {
	font-size:14px;
}


/* PAGE: RM LOGIN */
.rm_login_body {
	background-image:url(../images/dpi_72/rm_page_bg.png);
	background-repeat:no-repeat;
	background-position:left bottom;
}
.rm_login_container {
	width:330px;
	left:50%;
	margin-left:-100px;
	padding-bottom:40px;
}
.rm_login_h1 {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	text-align:left;
	border-style:solid;
	border-width:0px 0px;
	padding:0px 0px 10px 0px;
	margin:0px 0px 0px 0px;
	font-size:48px;
	font-weight:normal;
	text-transform:none;
}
.rm_login_btn {
	width:60px;
	margin-top:0px;
}
.rm_footer_container {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	box-sizing:border-box;
	background-color:transparent;
}
.rm_footer_container p {
	text-align:left;
	padding-left:66px;
}
.rm_social {
	bottom:20px;
}
.rm_footer_copy {
	font-size:11px;
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0px;
	padding:20px 30px 10px 30px;
}

/* PAGE: RM CLIENT LIST */
.client_list_container {
	width:720px;
	margin-left:-360px;
	padding-bottom:40px;
}
.client_list_wide_container {
	width:900px;
	margin-left:-460px;
	padding-bottom:40px;
}
.rm_list_h1 {
	text-transform:none;
	padding:10px 10px 10px 10px;
	margin:0px 0px 15px 0px;
}
.client_container  { position:relative; }
.client_col1 {
	float:left;
	width:222px;
	box-sizing:border-box;
}
.client_col2 {
	position:absolute;
	width:241px;
	box-sizing:border-box;
	top:0px;
	left:50%;
	margin-left:-130px;
}
.client_col3 {
	float:right;
	width:200px;
	box-sizing:border-box;
}
.rm_remove_client {
	float:right;
	cursor:pointer;
	margin:0px 0px 0px 15px;
}
.rm_add_client {
	cursor:pointer;
	margin:0px 0px 0px 15px;
}


/* PAGE: RM NOMINATION STATUS */
.status_head {
	padding:10px;
	text-align:left;
	color:#FFFFFF;
	background-color:#999999;
	vertical-align:middle;
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:12px;
}
.head_name { width:28%; border-width:1px; border-style:solid; border-color:#999999; border-right-color:#FFFFFF; }
.head_company { width:27%; border-width:1px; border-style:solid; border-color:#999999; border-left-color:#FFFFFF; border-right-color:#FFFFFF; }
.head_email { width:27%; border-width:1px; border-style:solid; border-color:#999999; border-left-color:#FFFFFF; border-right-color:#FFFFFF; }
.head_status { width:18%; border-width:1px; border-style:solid; border-color:#999999; border-left-color:#FFFFFF; }

.status_tr {
	
}
.status_tr td {
	padding:6px;
	text-align:left;
	color:#999999;
	vertical-align:middle;
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:11px;
	border-width:0px 1px 0px 1px; border-style:solid; border-right-color:#999999; border-left-color:#999999;
}
.white_tr { background-color:#FFFFFF; }
.grey_tr { background-color:#F2F2F2; }
.rm_menu_btn {
	position:absolute;
}
.status_footer {
	height:10px;
	background-color:#999999;
}



/* PAGE: Entry form login and Register */
.login_n_register_container {
	width:560px;
	margin-left:-280px;
	padding-bottom:10px;
}
.form_half_container {
	width:260px;
}
.form_half_container h1 {
	text-transform:uppercase;
}
.form_half_container a { text-decoration:none; font-size:12px;}
.vertcl_turq_line {
	border-width:0px 1px 0px 1px;
	border-color:#009999;
	border-style:solid;	
	height:220px;
	margin-left:19px;
}
.form_message {
	padding-top:15px;
	font-size:15px;
}
.entry_register_btn {
	width:100px;
	margin-top:0px;
}

/* PAGE: Recover password */
.recover_pass_container {
	width:300px;
	margin-left:-140px;
	padding-bottom:10px;
}
.recover_pass_container h1 { text-transform:uppercase;}
.recover_btn { width:90px; margin-top:0px; }
.recover_pass_message {
	padding-top:0px;
	font-size:13px;
	line-height:150%;
	line-height:1.5;
}

.garbage_container {
	width:900px;
	margin-left:-450px;
	padding-bottom:10px;
}

/* OTHER */
.mobi_slider_controlls {
	position:relative;
	width:100%;
	height:28px;
	border:0px solid #009999;
	box-sizing: border-box;
}
.judge_mobi_slider {
	position:relative;
}
.judge_slider_arrow {
	position:absolute;
	bottom:3px;
	width:16px;
	height:25px;
	cursor:pointer;
}
.slide_arrow_left {
	left:0px;
}
.slide_arrow_right {
	right:0px;
}


/* PAGE: FINALISTS */
.lefthalf_cont {	
	float:left;
	width:50%;
	box-sizing:border-box;
}
.assContainer {
	padding-bottom:30px;
}
.lefthalf_cont .assContainer p {
	padding:0px 25px 0px 0px;
}

.righthalf_cont {
	float:right;
	width:50%;
	box-sizing:border-box;
}
.righthalf_cont .assContainer p {
	padding:0px 0px 0px 25px;
}
.righthalf_cont .assLogo {
	padding:0px 0px 0px 25px;
}
.assLogo { width: 122px; height:auto; }
.finalist_profile_img {
	width:190px;
	height:auto;
	padding:0px 15px 0px 40px;
}
.finalist_slider_logo {
	width:134px;
	height:auto;
}
.watch_now_btn {
	position:relative;
	cursor:pointer;
	width:109px;
	height:24px;
	float:left;
	margin-top:0px;
}
.watch_now_btn2 { margin-top:0px; }
#finalists_slider_container2016 .watch_now_btn{
	position: relative;
	left: auto;
	bottom: auto;
	margin: 0 0 0 20px;
}



/* PAGE: THE WINNER */
.winnercopy {
	font-size:19px;
	font-family:'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal;
}
.winnercopy strong {
	font-family:'fnb_sans_regularbold','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:bold;
}
.winner_photo {
	float:left;
	width:175px;
}
.winner_content_cont {
	float:right;
	width:100%;
}
.winner_content_cont .BG_TURQ {
	font-size:16px;
	text-align:center;
	padding:10px;
}
.winner_content_cont .BG_TURQ strong {
	font-family:'fnb_sans_regularbold','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal;
}
#PAGE_8_CONTENT .page_h1 { margin-bottom:20px; }




/* PAGE: ARCHIVES */
.archive_colour_cont { background-color:#00b4b9; }
.archive_nav_cont { width:100%; float:left; background-color:#009595; }
.archive_nav_cont p {
	color:#FFFFFF;
	text-align:center;
	padding:10px;
	font-weight:900;
}
.judges_title { background-color:#00595a !important; }
.finalist_title { background-color:#009595 !important; }
.winner_title { background-color:#00b4b9 !important; }

.archive_arrow_rm {
	background-image:none;
	background-position:center top;
	background-color:transparent;
	background-repeat:no-repeat;
	height:30px;
	cursor:pointer;
	margin-bottom:25px;
}
.rm_closed { background-image:url(../images/archive_rm_closed.png); }
.rm1_open { background-image:url(../images/archive_rm1_open.png); }


#judges_slider_container { position:relative; }
#winner_container { display:none; position:relative; }
#winner_container p { padding-left:15px; padding-right:15px; padding-top:10px; }
#winner_container .TURQ_COPY.winner_copy.CENTER { padding-top:0px; }
#finalists_slider_container { display:none; position:relative; }
#finalists_slider_container .owl-page span {
	background-color:#009999;
}

#judges_slider_container2016 { display:none; position:relative; }
#finalists_slider_container2016 { position:relative; }
#finalists_slider_container2016 .owl-page span {
	/*background-color:#009999;*/
}



/* PAGE: finalists */
.slider_logo {
	float:left;
	width:63%;
}
.video_btn_img {
	border:none;
	border-width:0px;
	float:right;
	width:36%;
	margin-right:2px;
}


/* PAGE: WINNER */
#PAGE_WINNER_CONTENT .BG_TURQ {
	font-size:14px;
	text-align:center;
	padding:10px;
}
.winner_copy strong {
	font-family:'fnb_sans_regularbold','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal;
}


/* PAGE: PROCESS */
.process_disclaimer {
	font-size:11px;
	text-align:left;
	font-style:italic;
	font-weight:900 !important;
}


/* END OF PROJECT STYLES */



/* FRAME STYLES */
.frame_input_marked {
	border:1px solid #F00;
}
.frame_input_checked {
	border:1px solid #009999;
	background-image:none;
}
.frame_input_checked_disabled {
	border:1px solid #009999;
	background-image:none;
	background-color:#FFFFFF;
}
.BG_ORANGE { background-color:#f99d1e; }
.BG_TURQ { background-color:#009999; }
.BG_DT {  background-color:#00595a; }
.BG_GREY { background-color:#eeeeee; }
.BG_L_GREY { background-color:#eaeaea; }
.BG_WHITE { background-color:#FFFFFF; }
.ORANGE_COPY { color:#f99d1e; border-color:#f99d1e; }
.TURQ_COPY { color:#009999; border-color:#009999; }
.GREY_COPY { color:#eeeeee; border-color:#eeeeee; }
.DARK_GREY_COPY { color:#999999; border-color:#999999; }
.WHITE_COPY { color:#FFFFFF; border-color:#FFFFFF; }
.BLACK_COPY { color:#000000; border-color:#000000; }

.HALF_WIDTH_PX { width:273px; }

.MOBILE { display:none; }
.DESKTOP { display:block; }
/* PROJECT STYLES END HERE */
/* HELPER STYLES AT END */
.clear { clear:both; }
.LEFT { float:left; }
.RIGHT { float:right; }
.CENTER { text-align:center; }
.FULL_WIDTH { width:100%; }
.FULL_WIDTH_PX { width:960px; }
.LAST_COL { margin-right:0px; padding-right:0px; }
.FIRST_COL { margin-left:0px; }
.DISPLAY_BLOCK { display:block; }
/* FONT STUFFS */
.regular { font-weight:normal; }
.COPY_BOLD { /* font-family:'fnb_sans_regularbold','Calibri',Calibri,Arial, Helvetica, sans-serif; */ font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;  font-weight:bold; }
.COPY_REGULAR { font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal; }
.COPY_THIN { font-family:'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal; }
.COPY_ITALIC, i { font-family:'fnb_sansthin_italic','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal; font-style:italic; }
.COPY_REGULAR_ITALIC { font-family:'fnb_sans_regularitalic','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal; font-style:italic; }

.closing-date{
	float: left;
	clear: left;
	margin: 5px 0 0 0;
	font-size: 12px;
}


.countdown{
	margin: 0 0 10px 0;
	/*width: 150px;*/
}

.countdown_close-text{
	font-family: 'fnb_sanslight';
	font-size: 12px;
	color: black;
}

.countdown__unit{
	color:#FF9933;
	font-size: 23px;
	font-family: 'fnb_sanslight';
	display: inline-block;	
	height: 26px;
	line-height: 26px;
	border-right: 1px solid #FF9933;
	padding: 0 12px;
	margin: 5px 0 0 0;
}
.countdown__unit--first{
	padding: 0 12px 0 0;
}
.countdown__unit--noborder{
	border: none;
}

.countdown__counter{
	font-family: 'fnb_sans_regularbold';
}


@media screen and (max-width: 480px){
	.countdown__unit{
		/*font-size: 15px;
		height: 20px;*/
	}
}

.bottom_right_btn{
	display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.footer_small a{
	text-decoration: underline;
}