/* Etiket, overwrite original responsive file here, please don't edit responsive.css
-------------------------------------------------------------------------------*

/* Retina and high density screen images
-------------------------------------------------------------------------------*/

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dppx),
only screen and (                min-resolution: 2dppx)   {


}

/* Breakpoint Media Queries
-------------------------------------------------------------------------------*/
/* 1228 => 760 */
@media only screen and (max-width: 1228px) {
	
}
/* 1024 => 760 */
@media only screen and (max-width: 1024px) {
	
}
/* 760 => 470 */
@media only screen and (max-width: 760px) {
	/* GENERAL STYLES */
	.main_container {
		position:relative;
		width:400px;
		left:50%;
		margin-left:-200px; /* LEFT SIDE OF PAGE = 216px wide */
		padding-top:140px;
		padding-bottom:100px;
	}
	.main_mobi_container {
		position:relative;
		width:400px;
		left:50%;
		margin-left:-200px;
	}
	/* LIGHTBOX */
	.lightbox { top: 150px; left:50%; width:300px; margin-left:-150px; }

	/* PAGE: Entry form login and Register */
	.login_n_register_container { padding-top:70px; width:560px; margin-left:-280px; }
	/* PAGE: RM CLIENT LIST */
	.rm_list_h1 { margin:70px 0px 15px 0px; }
	/* PAGE: ENTRY THANKYOU */
	.thankyou_h3 { margin-top:100px; }

	.form_half_container  h1 { margin-top:40px; }

	/* STEP NAVIGATION CONTAINER */
	.step_navigation_container {
		padding-top:15px;
		padding-bottom:40px;
		margin:0 0 0 0;
	}
	/* ENTRY FORM STYLES */
	.thankyou_main_cont {
		width:100%;
		left:0%;
		margin-left:0px;
		padding-top:130px;
	}
	.thankyou_main_cont h1 { margin:0 0 0 0; }
	.thankyou_main_cont .square_btn { margin-top:10px; margin-left:15px; }
	.thankyou_main_cont .NO_BORDER { padding:15px; }
	.navigation_controls_cont {
		position:relative;
		width:320px;
		height:60px;
		margin-left:-160px;
	}
	.navigation_controls_cont button { margin:0px 15px 0px 15px; }
	.navigation_controls_cont .nav_dots_cont {
		top:40px;
	}
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24, .col-25, .col-26 { width:100%; }
	.col-full { width:100%; }
	/* RADIO BUTTONS */
	input[type=radio].css-checkbox + label.css-label {
		margin-left:10px;
	}
	.form_field_container .btn_form_info {
		width:17px;
		height:20px;
		margin-right:5px;
		margin-left:10px;
	}

	/* PAGE: Recover password */
	.recover_pass_container {
		width:300px;
		margin-left:-150px;
		padding-bottom:10px;
	}
	.recover_pass_container h1 { margin-top:30px; }
	

	/* HELPER FUNCTIONS */
	.MOBILE { display:block; }
	.DESKTOP { display:none; }
	.HALF_WIDTH_PX { width:300px; }
	.FULL_WIDTH_PX { width:300px; }
}

/* 470 => 360 */
@media only screen and (max-width: 470px) {
	/* GENERAL STYLES */
	.main_container {
		position:relative;
		width:300px;
		left:50%;
		margin-left:-150px; /* LEFT SIDE OF PAGE = 216px wide */
	}
	.main_mobi_container {
		position:relative;
		width:300px;
		left:50%;
		margin-left:-150px;
	}
	/* ENTRY FORM STYLES */
	.thankyou_main_cont {
		width:100%;
		left:0%;
		margin-left:0px;
		padding-top:130px;
	}

	.form_half_container  h1 { margin-top:10px; }
	
	/* PAGE: Entry form login and Register */
	.login_n_register_container { width:260px; margin-left:-130px; padding-bottom:10px; }
	.form_half_container { width:260px; }
	.form_half_container a { text-decoration:none; font-size:12px;}
	.vertcl_turq_line { display:none; }
	

	/* PAGE: Recover password */
	.recover_pass_container {
		width:300px;
		margin-left:-150px;
		padding-bottom:10px;
	}

	/* HELPER FUNCTIONS */
	.MOBILE { display:block; }
	.DESKTOP { display:none; }
	.HALF_WIDTH_PX { width:300px; }
	.FULL_WIDTH_PX { width:300px; }
}

/* 360 => 320 */
@media only screen and (max-width: 360px) {
	/* GENERAL STYLES */
	.main_container {
		position:relative;
		width:300px;
		left:50%;
		margin-left:-150px; /* LEFT SIDE OF PAGE = 216px wide */
		padding-top:120px;
	}
/* 
	.wide_form_cont {
		position:relative;
		width:400px;
		left:0;
		margin-left:50px;
		padding-right:80px;
		padding-top:120px;
	} */

	.smallist {
		/*font-size:7px;*/
	}

	.main_mobi_container {
		position:relative;
		width:300px;
		left:50%;
		margin-left:-150px;
	}
	/* ENTRY FORM STYLES */
	.thankyou_main_cont {
		width:100%;
		left:0%;
		margin-left:0px;
		padding-top:130px;
	}
	/* LAYER 1 CONTAINERS */
	/* LAYER 1 */
	.l1_col1_container { width:300px; clear:both; }
	.l1_col2_container { position:relative; width:300px; top:auto; left:auto; margin-left:0px;  clear:both; }
	.l1_col3_container { width:300px; clear:both; }
	
	/* LAYER 2 */
	
	/* LAYER 3 */
	.l3_col1_container { width:300px; clear:both;}
	.l3_col2_container { position:relative; width:300px; top:auto; left:auto; margin-left:0px; clear:both; }
	.l3_col3_container { width:300px; clear:both; }
	
	/* LAYER 4 */
	
	
	/* LAYER 5 */
	.l5_text_container { width:300px; }
	.l5_yesno_btn { width:30px; }	


	.footer_container { margin-top:10px; position:relative; left:auto; }
	.footer_container p { font-size:10px;  }
	.footer_copy { font-size:10px; padding:20px 15px 20px 15px; }

	/* PAGE: Entry form login and Register */
	.login_n_register_container { width:260px; margin-left:-130px; padding-bottom:10px; }
	

	/* PAGE: Recover password */
	.recover_pass_container {
		width:300px;
		margin-left:-150px;
		padding-bottom:10px;
	}

	/* HELPER FUNCTIONS */
	.MOBILE { display:block; }
	.DESKTOP { display:none; }
	.HALF_WIDTH_PX { width:300px; }
	.FULL_WIDTH_PX { width:300px; }
}

/* END: Media Queries
-------------------------------------------------------------------------------*/