@charset "utf-8";
/* CSS Document */
p,li {
	font-size:10px;
	font-family: 'fnb_sanslight','Calibri',Calibri,Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0px;
	padding:0px 0px 15px 0px;
}
li {
	font-size:13px;
}
p i, li i {
	font-family: 'fnb_sans_regularitalic','Calibri',Calibri,Arial, Helvetica, sans-serif;
}
#form_start_form_cont { background-color:#ebebeb; }
#step_intro p, #step_intro li { font-size:14px; }
#step_intro li { padding-bottom:0px; margin-left:1.5em; }
.component_cont {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	box-sizing: border-box;
	border:1px solid #FFFFFF;
}
#formStepsCont { overflow:hidden; }
.form_step_cont {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0%;
	box-sizing: border-box;
	border:0px solid #009999;
	border-width:0 0px 0 0px;
	background-color:#FFFFFF;
	overflow:auto;
}
.main_container {
	position:relative;
	top:0px;
	width:550px;
	height:auto;
	left:50%;
	padding-top:220px;
	margin-left:-275px; /* LEFT SIDE OF PAGE = 216px wide */
	padding-bottom:200px;
}
.thankyou_main_cont {
	width:600px;
	margin-left:-300px;
}
.step_nav_arrow {
	position:absolute;
	top:40%;
	margin-top:-14px;
	width:28px;
	height:45px;
	cursor:pointer;
}
.step_arrow_left {
	left:15px;
}
.step_arrow_right {
	right:15px;
}

h1 {
	font-family: 'fnb_sanslight','Calibri',Calibri,Arial, Helvetica, sans-serif;
	border-style:solid;
	border-width:1px 0px;
	padding:10px 10px 10px 10px;
	margin:0px 0px 30px 0px;
	font-weight:100;
	letter-spacing: 1.5px;
	font-size:25px;
}
h1 .thankyou_line1, h1 .thankyou_line2 {
	font-family:'fnb_sans_regularbold','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:40px;
	border-style:none !important;
	border-width:0px 0px 0px 0px !important;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-weight:normal;
	letter-spacing: 1px;
	text-transform:none;
}
h1 .thankyou_line2 { font-size:31px; }
h1 .thankyou_line3 { font-family: 'fnb_sanslight','Calibri',Calibri,Arial, Helvetica, sans-serif; font-size:32px; text-transform: none; letter-spacing: 1px; }
.thankyou_main_cont h1 { text-align:left !important; }
.thankyou_main_cont .square_btn { margin-top:104px; }
.thankyou_main_cont { padding-top:240px; }
.form_ul_list { padding-bottom:15px; }
.validation_error_message_grey {
	font-size:14px;
	color:#999999;
}
.validation_error_message {
	color:#ec2227;
	font-size:11px !important;
	font-style:italic;
	padding-top:15x;
}
#form_validate_error { padding-top:15px; padding-bottom:0px; display:inherit; }

/* STEP NAVIGATION CONTAINER */
.step_navigation_container {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100px;
	box-sizing: border-box;
	background-color:#FFFFFF;
	padding-top:15px;
	padding-bottom:60px;
	margin:0 0 100px 0;
}
.navigation_controls_cont {
	position:relative;
	width:370px;
	left:50%;
	margin-left:-185px;
	margin-top:15px;
}
.navigation_controls_cont .nav_dots_cont {
	position:absolute;
	width:196px;
	height:31px;
	top:0;
	left:50%;
	margin-left:-98px;
	box-sizing: border-box;
}
.nav_dots_cont p { text-align:center; font-size:0; }
.nav_dots_cont p img {
	display: inline-block;
	letter-spacing: 0px;
}





.form_field_container {
	margin:0 0 0 0;
	padding:0 0 15px 0;
	position:relative;
	display:block;
	box-sizing: border-box;
}
.form_field_container p, form p {
	vertical-align: baseline;
	padding-top:4px;
	padding-left:10px;
	font-size:10px;
	padding-right:10px;
	color:#999999;
}
.form_field_container p {
	padding-bottom:0;
}
.form_field_container .btn_form_info {
	width:17px;
	height:20px;
	float:left;
	margin-right:15px;
	cursor:pointer;
}
.double_line_p .btn_form_info {
	margin-top:7px;
}
.double_line_p .css-checkbox, .double_line_p .css-label {
	margin-top:12px !important;
}


.form_left_container {
	float:left;
}
.form_right_container {
	float:right;
}

.form_field_none_margin {
	margin-right:0px;
	margin-left:0px;
}
.form_field_left_margin {
	margin-left:20px;
}
.form_field_right_margin {
	margin-right:20px;
}
.form_field_both_margin {
	margin-right:20px;
	margin-left:20px;
}
.col-1 { width:20px; }
.col-2 { width:40px; }
.col-3 { width:60px; }
.col-4 { width:80px; }
.col-5 { width:100px; }
.col-6 { width:120px; }
.col-7 { width:140px; }
.col-8 { width:160px; }
.col-9 { width:180px; }
.col-10 { width:200px; }
.col-11 { width:220px; }
.col-12 { width:240px; }
.col-13 { width:260px; }
.col-14 { width:280px; }
.col-15 { width:300px; }
.col-16 { width:320px; }
.col-17 { width:340px; }
.col-18 { width:360px; }
.col-19 { width:380px; }
.col-20 { width:400px; }
.col-21 { width:420px; }
.col-22 { width:440px; }
.col-23 { width:460px; }
.col-24 { width:480px; }
.col-25 { width:500px; }
.col-26 { width:520px; }
.col-full { width:100%; }

.listlabel { padding-bottom:5px; }

/* BUTTON STYLES */
.square_btn {
	display:block;
	width:auto;
	height:30px;
	cursor:pointer;
	border:0px solid #f99d1e;
	border-image-source: none;
    border-image-slice: none;
    border-image-width: none;
    border-image-outset: none;
    border-image-repeat: none;
}
.square_btn p {
	font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:bold;
	font-size:14px;
	line-height:21px;
	font-weight:normal;
	margin:0 0 0 0;
}
.square_btn:hover {
	background-color:#009999;
}
.btn_orange {
	background-color:#f99d1e;
	cursor:pointer;
	border:0px solid #ffd58c;
}
.btn_orange p {
	color:#FFFFFF;
	text-align:center;
	padding:0 25px 0 25px;
}
.btn_orange_arrow_right {
	background-color:#f99d1e;
	background-image:url(../images/btn_arrow_right.png);
	background-position:right center;
	background-repeat:no-repeat;
}
.btn_orange_arrow_right p {
	color:#FFFFFF;
	text-align:left;
	padding:0 18px 0 7px;
}
.btn_orange_arrow_left {
	background-color:#f99d1e;
	background-image:url(../images/btn_arrow_left.png);
	background-position:left center;
	background-repeat:no-repeat;
}
.btn_orange_arrow_left p {
	color:#FFFFFF;
	text-align:right;
	padding:0 7px 0 18px;
}

/* INPUT STYLES -- FOR all input type fields */
input, textarea, keygen, select, button {
	margin: 0em;
	font: -webkit-small-control;
	
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
}
input, textarea, keygen, select, button, meter, progress {
	-webkit-writing-mode: horizontal-tb;
}
.select_list {	
	-webkit-appearance: menulist;
	box-sizing: border-box;
	align-items: center;
	border: 0px solid;
	color: #999999;
	background-color:#E6E6E6;
	
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:5px 10px 5px 10px;
	margin:0px 0px 20px 0px;
	line-height:100%;
	line-height:1;
	
	border:none;
    outline:none;
    display:inline-block;
    cursor:pointer;
	box-sizing:border-box;
}

.form_field_container input[type="text"], select {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 20px;
    border:0px solid #e6e6e6;
    background: #e6e6e6;
    padding: 0 10px;
    height: 20px;
    box-sizing: border-box;
	color: #333333;
	width:100%;
}
select {
	padding:0 6px;
}
input[type="text"]::-webkit-input-placeholder, select::-webkit-input-placeholder {
	color: #999999;
}
input[type="text"]:-moz-placeholder, select:-moz-placeholder {
  /* Firefox 18- */
	color: #999999;
}
input[type="text"]::-moz-placeholder, select::-moz-placeholder {
  /* Firefox 19+ */
	color: #999999;
}
input[type="text"]:-ms-input-placeholder, select:-ms-input-placeholder {
	color: #999999;
}
input[type="text"]:placeholder, select:placeholder {
	color: #999999;
}
.placeholder_input { color:#999999 !important; }
textarea {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	width: 100%;
	max-width: 100%;
	border: none;
	background: #e6e6e6;
	padding: 4px 10px;
	box-sizing: border-box;
	margin: 0 0 0 0;
	font-size:10px;
	height:77px;
	max-height:120px;
}

/* RADIO BUTTONS */
input[type=radio].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}
input[type=radio].css-checkbox + label.css-label {
	padding-left:17px;
	padding-right:10px;
	height:12px; 
	display:inline-block;
	line-height:12px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:12px;
	vertical-align:middle;
	cursor:pointer;
	color:#999999;
}
input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -12px;
	color:#999999;
}
label.css-label {
	background-image:url(../images/checkbox_dots_grey.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* STEP - INTRODUCTION */


/* STEP - ABOUT YOU */
#form_step_about_you {

}


/* PAGE: Entry form login and Register */
.login_n_register_container {
	width:560px;
	margin-left:-280px;
	padding-bottom:10px;
}
.form_half_container {
	width:260px;
}
.form_half_container h1 {
	text-transform:uppercase;
}
.form_half_container a { text-decoration:none; font-size:12px;}
.vertcl_turq_line {
	border-width:0px 1px 0px 1px;
	border-color:#009999;
	border-style:solid;	
	height:220px;
	margin-left:19px;
}
.form_message {
	padding-top:15px;
	font-size:15px;
	color:#e41e26;
}
.entry_register_btn {
	width:100px;
	margin-top:0px;
}
.input_text {
	background-color:#E6E6E6;
	border:none;
	color:#000000;

	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:5px 10px 5px 10px;
	margin:0px 0px 20px 0px;
	line-height:100%;
	line-height:1;
	
	box-sizing:border-box;
}
.input_text {
	background-color:#FFFFFF;
	border:1px solid #e6e6e6;
	color:#666666;

	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:5px 10px 5px 10px;
	margin:0px 0px 15px 0px;
	line-height:100%;
	line-height:1;
	text-align:left;
	
	box-sizing:border-box;
}


/* PAGE: Recover password */
.recover_pass_container {
	width:300px;
	margin-left:-140px;
	padding-bottom:10px;
}
.recover_pass_container h1 { text-transform:uppercase;}
.recover_btn { width:90px; margin-top:0px; }
.recover_pass_message {
	padding-top:0px;
	font-size:13px;
	line-height:150%;
	line-height:1.5;
}

.garbage_container {
	width:900px;
	margin-left:-450px;
	padding-bottom:10px;
}


/* END OF PROJECT STYLES */


#extrafounders_p_label_for_QC { display:none; }
