@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'fnb_sansthin_italic';
    src: url('fonts/fnb_sans-thinitalic-webfont.eot');
    src: url('fonts/fnb_sans-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-thinitalic-webfont.woff') format('woff'),
         url('fonts/fnb_sans-thinitalic-webfont.ttf') format('truetype'),
         url('fonts/fnb_sans-thinitalic-webfont.svg#fnb_sansthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fnb_sans_regularbold';
    src: url('fonts/fnb_sans-bold-webfont.eot');
    src: url('fonts/fnb_sans-bold-webfont.svg#fnb_sans_regularbold') format('svg'),
		 url('fonts/fnb_sans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-bold-webfont.woff') format('woff'),
         url('fonts/fnb_sans-bold-webfont.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fnb_sans_regularitalic';
    src: url('fonts/fnb_sans-italic-webfont.eot');
    src: url('fonts/fnb_sans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-italic-webfont.woff') format('woff'),
         url('fonts/fnb_sans-italic-webfont.ttf') format('truetype'),
         url('fonts/fnb_sans-italic-webfont.svg#fnb_sans_regularitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fnb_sansthin';
    src: url('fonts/fnb_sans-thin-webfont.eot');
    src: url('fonts/fnb_sans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-thin-webfont.woff') format('woff'),
         url('fonts/fnb_sans-thin-webfont.ttf') format('truetype'),
         url('fonts/fnb_sans-thin-webfont.svg#fnb_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fnb_sans_regularregular';
    src: url('fonts/fnb_sans-regular-webfont.eot');
    src: url('fonts/fnb_sans-regular-webfont.svg#fnb_sans_regularregular') format('svg'),
		 url('fonts/fnb_sans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-regular-webfont.woff') format('woff'),
         url('fonts/fnb_sans-regular-webfont.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fnb_sanslight';
    src: url('fonts/fnb_sans-light-webfont.eot');
    src: url('fonts/fnb_sans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-light-webfont.woff') format('woff'),
         url('fonts/fnb_sans-light-webfont.ttf') format('truetype'),
         url('fonts/fnb_sans-light-webfont.svg#fnb_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{ -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body,td,th {
	/*font-family: 'Samsung_Interface_REGULAR','Calibri',Arial, Helvetica, sans-serif;*/
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size: 15px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 100px;
	color:#000000;
	background-color:#FFFFFF;
	background-attachment:fixed;
}
a {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	outline:none;
	text-decoration:underline;
	border:none;
}
img {
	border:none !important;
	margin:0px;
}
p,li {
	font-size:13px;
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0px;
	padding:0px 0px 20px 0px;
}
li { padding:0 0 0 0; margin-left:1.5em; }
p strong { font-family: 'fnb_sans_regularbold'; font-weight:100; }
h1, h2, h3, h4 { margin:0px; padding:0px; line-height:100%; line-height:1; }
h1 {
	/*font-family: 'Samsung_Interface_REGULAR','Calibri',Arial, Helvetica, sans-serif;*/
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:24px;
	text-transform:uppercase;
	padding:0px;
	margin:0px;
	text-align:center;
}
h2 {
	/*font-family: 'Samsung_Interface_REGULAR','Calibri',Arial, Helvetica, sans-serif;*/
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	padding:0px;
	margin:0px;
}
h3 {
	font-size:17px;
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0px;
	padding:0px 0px 20px 0px;
	color:#999999;
}

