@charset "utf-8";
/* CSS Document */
/* LIGHTBOX */
.lightbox {
  position: absolute; top: 195px; left: 50%;
  
  z-index: 90; display: none;
  background-color:#FFFFFF;
  width:400px;
  min-height:100px;
  margin-left:-200px;
}
.lightbox-close {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #aaa;
  background: rgba(255, 255, 255, 1);
  text-decoration: none;
  color:#009999;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  padding: 0px;
  font: bold 14px/1.3 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
  
  cursor:pointer;
}
.lightbox-close:hover {
  background: #009999;
  background: rgba(0, 153, 153, 0.5);
}
.lightbox-close:active {
  background: #ccc;
  background: rgba(0, 153, 153, 0.3);
  -webkit-box-shadow: inset black 0 0 5px;
     -moz-box-shadow: inset black 0 0 5px;
      -ms-box-shadow: inset black 0 0 5px;
       -o-box-shadow: inset black 0 0 5px;
          box-shadow: inset black 0 0 5px;
}
.lightbox-mask {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  background: #FFFFFF;
  background: rgba(255, 255, 255, 1);
  z-index: 89; display: none;
}
.skrollr_lightbox-mask {
	width: 100%; height: 100%;
	background: #FFFFFF;
	background: rgba(255, 255, 255, 1);
	display: block;
	background-image:url(../images/loader_2.gif);
	background-position:center center;
	background-repeat:no-repeat;
}
.lightbox_content {
	padding:0px;
}
.lightbox_content p {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;

	line-height:130%;
	line-height:1.3;
}
