.products{
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.page_h1{
  margin: 0;
  text-transform: none;
}

.page_h1 sup{
  font-size: 13px;
}

.popup__intro sup{
  font-size: 11px;
}

.popup__product-description sup{
  font-size: 9px;
}

b{
  font-family: 'fnb_sans_regularbold';
  font-size: 13px;
}


.products__holder{
  width: 100%;
  max-width: 560px;
  background: white;
}

.products__le-products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__product{
  width: 165px;
  text-align: center; 
  margin: 10px 10px;
  cursor: pointer;
}
.products__product img{
  margin: 0 0 10px 0;
  pointer-events: none;
}
.products__product p{
  pointer-events: none;
  text-align: center;
  font-size:11px;
  color: #009999;
  margin: 0 0 5px 0;
  padding: 0; 
}
.products__product p b{
  font-family: 'fnb_sans_regularbold';
}

.modal-btn-close{
  pointer-events: all;
}

.popup-holder{
  display: flex;
  flex-wrap: wrap;;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
}

.popup{
  width: 100%;
  max-width: 560px;
  position: relative;
  z-index: 99;
  background: white;
}

.popup b{
  font-family: 'fnb_sans_regularbold';
}

.popup a{
  pointer-events: all;
}

.holder{
  width: 100%;
  overflow: hidden;
}
.desktop .holder{
  margin: 25px 0 0 0;
}
.popup__image-holder{
  width: 189px;
  float: left;
}
.popup__product-description{
  width: 100%;
  max-width: 370px;
  float: left;
}
.popup__product-description p{
  overflow: hidden;
}

.popup__intro{
  font-size: 17px;
  color: #009999;
}
.popup__intro b{
  font-size: 17px;
}

.popup__terms{
  font-family: 'fnb_sansthin_italic';
  font-size: 12px;
}

.popup__ul{
  padding: 0;
  margin: 0;
  font-size: 12px; 
}
.popup__ul b{
  font-size: 13.5px;
} 

.popup__ul li{
  margin: 0 0 0 15px;
  padding: 0 0 0 0;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.mobile{
  display: none;
}

.content-mobile{
  display: none;
  padding: 170px 20px 0;

}

@media screen and (max-width: 980px){
  .desktop{
    display: none;
  }
  
  .mobile{
    display: block;
  }

  .products{
    margin: 165px 0 100px 0;
    display: block;
    padding: 0 0 150px 0;
  } 

  .page_h1{
    font-size: 23px;
    padding: 10px 0;
  }

  .products__holder{
    width: 90%;
    margin: 0 auto 150px auto;
  }

  .popup-holder{
    width: 90%;
    top: 400px;
    padding: 0 30px;
  }

  .popup__image-holder{
    float: none;
    margin: 0 auto; 
  }

  .topRightLogoCont, .topLeftLogo_white {
    position: absolute;
  }

  .web_left_bottom_img {
    background: white;
    width: 100%;
  }

  .top-holder{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    background: white;  
    height: 165px;
  }

  .btn-holder{
    float: right;
    margin: 0 -20px 30px 0;
    cursor: pointer;
  }
}
