@charset "utf-8";
/* --- *** *** *** -- */
/* PROJECT STYLES STARTS HERE */
/* GENERAL STYLES */
p,li {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0px;
}
li {
	font-size:13px;
}
.main_container {
	position:relative;
	top:0px;
	width:546px;
	left:50%;
	margin-left:-240px; /* LEFT SIDE OF PAGE = 216px wide */
}
.form_container {
	position:relative;
	width:660px;
	left:50%;
	margin-left:-330px;
	padding-bottom:40px;
	border:0px solid #0F0;
}
.main_mobi_container {
	position:relative;
	width:750px;
	left:50%;
	margin-left:-375px;
}
.page_h1 {
	font-family: 'fnb_sanslight','Calibri',Calibri,Arial, Helvetica, sans-serif;
	border-style:solid;
	border-width:1px 0px;
	padding:10px 10px 10px 10px;
	margin:0px 0px 30px 0px;
	font-weight:100;
	letter-spacing: 1.5px;
	font-size:25px;
}
::-webkit-input-placeholder {
   color: #cfcfcf;
}
:-moz-placeholder { /* Firefox 18- */
   color: #cfcfcf;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #cfcfcf;  
}
:-ms-input-placeholder {  
   color: #cfcfcf;  
}




/* PAGE: RM CLIENT LIST */
.client_list_container {
	width:720px;
	margin-left:-360px;
	padding-bottom:40px;
	padding-top:220px;
}
.client_list_wide_container {
	width:900px;
	margin-left:-460px;
	padding-bottom:40px;
	padding-top:180px;
}
.rm_list_h1 {
	text-transform:none;
	padding:10px 10px 10px 10px;
	margin:0px 0px 15px 0px;
}
.client_container  { position:relative; }
.client_col1 {
	float:left;
	width:222px;
	box-sizing:border-box;
}
.client_col2 {
	position:absolute;
	width:241px;
	box-sizing:border-box;
	top:0px;
	left:50%;
	margin-left:-130px;
}
.client_col3 {
	float:right;
	width:200px;
	box-sizing:border-box;
}
.rm_remove_client {
	float:right;
	cursor:pointer;
	margin:0px 0px 0px 15px;
}
.rm_add_client {
	cursor:pointer;
	margin:0px 0px 0px 15px;
}


/* PAGE: RM NOMINATION STATUS */
.status_head {
	padding:10px;
	text-align:left;
	color:#FFFFFF;
	background-color:#999999;
	vertical-align:middle;
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:12px;
}
.head_name { width:20%; border-width:1px; border-style:solid; border-color:#999999; border-right-color:#FFFFFF; }
.head_client_name { width:16%; border-width:1px; border-style:solid; border-color:#999999; border-right-color:#FFFFFF; }
.head_invited { width:4%; border-width:1px; border-style:solid; border-color:#999999; border-right-color:#FFFFFF; }
.head_company { width:20%; border-width:1px; border-style:solid; border-color:#999999; border-left-color:#FFFFFF; border-right-color:#FFFFFF; }
.head_email { width:20%; border-width:1px; border-style:solid; border-color:#999999; border-left-color:#FFFFFF; border-right-color:#FFFFFF; }
.head_status { width:20%; border-width:1px; border-style:solid; border-color:#999999; border-left-color:#FFFFFF; }

.status_tr {
	
}
.status_tr td {
	padding:6px;
	text-align:left;
	color:#999999;
	vertical-align:middle;
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:11px;
	border-width:0px 1px 0px 1px; border-style:solid; border-right-color:#999999; border-left-color:#999999;
}
.white_tr { background-color:#FFFFFF; }
.grey_tr { background-color:#F2F2F2; }
.rm_menu_btn {
	position:absolute;
}
.status_footer {
	height:10px;
	background-color:#999999;
}


.rm_login_body {
	background-image:url(../images/rm_background.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:contain;
}


.login_left_container, .login_right_container {
	position:absolute;
	top:220px;
	background:transparent;
}
.login_left_container {
	left:0%;
}
.login_left_container h1 {
	font-family: 'fnb_sanslight','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:40px;
	text-align:left;
	text-transform:none;
	padding-left:32px;
}
h1 strong, p strong { font-family:'fnb_sans_regularbold','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal; }


.login_right_container {
	right:32px;
	width:253px;
	background-color:#FFFFFF;
	z-index:99;
}
.login_right_container p {
	font-size:15px;
	text-align:left;
	line-height:130%;
	line-height:1.3;
	padding-bottom:15px;
}
.login_right_container p a {
	font-size:15px;
}

.login_input {

}
.input_text {
	background-color:#FFFFFF;
	border:1px solid #e6e6e6;
	color:#666666;

	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:5px 10px 5px 10px;
	margin:0px 0px 15px 0px;
	line-height:100%;
	line-height:1;
	text-align:left;
	
	box-sizing:border-box;
}


/* LOGIN AND REGISTER FORM STYLES */
#register_form_container { padding-top:15px; display:none; }

.rm_login_input {
	background-color:#FFFFFF;
	border:1px solid #e6e6e6;
	color:#cfcfcf;

	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:5px 10px 5px 10px;
	margin:0px 0px 15px 0px;
	line-height:100%;
	line-height:1;
	text-align:left;
	
	box-sizing:border-box;
}
.placeholder_input { color:#cfcfcf; }
.rm_login_select_list {	
	-webkit-appearance: menulist;
	box-sizing: border-box;
	align-items: center;
	border:1px solid #e6e6e6;
	/*
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	*/
	color:#cfcfcf;
	background-color:#FFFFFF;
	
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:5px 10px 5px 10px;
	margin:0px 0px 20px 0px;
	line-height:100%;
	line-height:1;
	
    outline:none;
    display:inline-block;
	/*
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
	*/
    cursor:pointer;
	box-sizing:border-box;
}
.form_error_copy, .validation_error_message {
	font-size:14px;
	color:#999999;
}
.validation_error_message {
	color:#ec2227;
	font-size:11px !important;
	font-style:italic;
	padding-top:15x;
}
#form_validate_error { padding-top:15px; padding-bottom:0px; display:none; }
.login_right_container .cant_login_p {
	padding-top:15px;
}

/* BUTTON STYLES */
.square_btn {
	display:block;
	width:auto;
	height:30px;
	cursor:pointer;
	border:0px solid #ffd58c;
	border-image-source: none;
    border-image-slice: none;
    border-image-width: none;
    border-image-outset: none;
    border-image-repeat: none;
}
.square_btn p {
	font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:bold;
	font-size:14px;
	line-height:21px;
	font-weight:normal;
	margin:0 0 0 0;
}
.btn_orange {
	background-color:#f99d1e;
	cursor:pointer;
	border:0px solid #ffd58c;
}
.btn_orange p {
	color:#FFFFFF;
	text-align:center;
	padding:0 25px 0 25px;
}
.btn_orange_arrow_right {
	background-color:#f99d1e;
	background-image:url(../images/btn_arrow_right.png);
	background-position:right center;
	background-repeat:no-repeat;
}
.btn_orange_arrow_right p {
	color:#FFFFFF;
	text-align:left;
	padding:0 18px 0 7px;
}
.btn_orange_arrow_left {
	background-color:#f99d1e;
	background-image:url(../images/btn_arrow_left.png);
	background-position:left center;
	background-repeat:no-repeat;
}
.btn_orange_arrow_left p {
	color:#FFFFFF;
	text-align:right;
	padding:0 7px 0 18px;
}

#rm_btn_login { margin-right:15px; }
#rm_btn_register {}

.countdown{
	margin: 0 0 0 32px;
	/*width: 150px;*/
}

.countdown_close-text{
	font-family: 'fnb_sanslight';
	font-size: 12px;
	color: black;
}

.countdown__unit{
	color:#FF9933;
	font-size: 23px;
	font-family: 'fnb_sanslight';
	display: inline-block;	
	height: 26px;
	line-height: 26px;
	border-right: 1px solid #FF9933;
	padding: 0 12px;
	margin: 5px 0 0 0;
}
.countdown__unit--first{
	padding: 0 12px 0 0;
}
.countdown__unit--noborder{
	border: none;
}

.countdown__counter{
	font-family: 'fnb_sans_regularbold';
}



