@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'fnb_sansthin_italic';
    src: url('fonts/fnb_sans-thinitalic-webfont.eot');
    src: url('fonts/fnb_sans-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-thinitalic-webfont.woff') format('woff'),
         url('fonts/fnb_sans-thinitalic-webfont.ttf') format('truetype'),
         url('fonts/fnb_sans-thinitalic-webfont.svg#fnb_sansthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fnb_sans_regularbold';
    src: url('fonts/fnb_sans-bold-webfont.eot');
    src: url('fonts/fnb_sans-bold-webfont.svg#fnb_sans_regularbold') format('svg'),
		 url('fonts/fnb_sans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-bold-webfont.woff') format('woff'),
         url('fonts/fnb_sans-bold-webfont.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fnb_sans_regularitalic';
    src: url('fonts/fnb_sans-italic-webfont.eot');
    src: url('fonts/fnb_sans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-italic-webfont.woff') format('woff'),
         url('fonts/fnb_sans-italic-webfont.ttf') format('truetype'),
         url('fonts/fnb_sans-italic-webfont.svg#fnb_sans_regularitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fnb_sansthin';
    src: url('fonts/fnb_sans-thin-webfont.eot');
    src: url('fonts/fnb_sans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-thin-webfont.woff') format('woff'),
         url('fonts/fnb_sans-thin-webfont.ttf') format('truetype'),
         url('fonts/fnb_sans-thin-webfont.svg#fnb_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fnb_sans_regularregular';
    src: url('fonts/fnb_sans-regular-webfont.eot');
    src: url('fonts/fnb_sans-regular-webfont.svg#fnb_sans_regularregular') format('svg'),
		 url('fonts/fnb_sans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-regular-webfont.woff') format('woff'),
         url('fonts/fnb_sans-regular-webfont.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fnb_sanslight';
    src: url('fonts/fnb_sans-light-webfont.eot');
    src: url('fonts/fnb_sans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fnb_sans-light-webfont.woff') format('woff'),
         url('fonts/fnb_sans-light-webfont.ttf') format('truetype'),
         url('fonts/fnb_sans-light-webfont.svg#fnb_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{ -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%}
html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body,td,th {
	/*font-family: 'Samsung_Interface_REGULAR','Calibri',Arial, Helvetica, sans-serif;*/
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size: 15px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color:#000000;
	background-color:#FFFFFF;
	background-attachment:fixed;
}
a {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	outline:none;
	text-decoration:underline;
	border:none;
}
img {
	border:none !important;
	margin:0px;
}
p {
	font-size:13px;
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0px;
	padding:0px 0px 20px 0px;
}
p strong { font-family: 'fnb_sans_regularbold'; font-weight:normal; }
h1, h2, h3, h4 { margin:0px; padding:0px; line-height:100%; line-height:1; }
h1 {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:24px;
	text-transform:uppercase;
	padding:0px;
	margin:0px;
	text-align:center;
}
h2 {
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	padding:0px;
	margin:0px;
}
h2 strong { font-family:'fnb_sans_regularbold','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal;  }
h3 {
	font-size:17px;
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0px;
	padding:0px 0px 20px 0px;
	color:#999999;
}
/*

/* SPECIAL MOBILE FRIENDLY STYLES 
input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%; height: 40px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #bbb;
}
input[type=checkbox] {
 width: 44px; height: 44px;
 -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
 border: 1px solid #bbb;
}
button[type=submit] {
 -webkit-appearance: none; -moz-appearance: none;
 display: block;
 margin: 1.5em 0;
 font-size: 1em; line-height: 2.5em;
 color: #333;
 font-weight: bold;
 height: 2.5em; width: 100%;
 background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
 border: 1px solid #bbb;
 -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
}
input[type=range] {
 width: 100%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 44px; height: 44px;
  background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
  border: 1px solid #bbb;
  -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
}
*/

/* --- *** *** *** -- */
/* PROJECT STYLES STARTS HERE */
#bg1, #bg2, #bg3 {
	z-index:50;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../images/test-images/bubbles.png) repeat 0 0;
}

#bg2 {
	z-index:49;
	background-image:url(../images/test-images/bubbles2.png);
}

#bg3 {
	z-index:48;
	background-image:url(../images/test-images/bubbles3.png);
}
#intro {
	width:90%;
	left:50%;
	top:1em;
	margin-left:-45%;
	padding:2em;
	background:#fff;
	text-align:center;
	border-radius:1em;

	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#intro .arrows {
	font-size:2em;
	color:#09f;
}
.web_menu_btn_img {
	position:absolute;
	margin-top:36px;
	top:0%;
	left:32px;
	width:50px;
	height:auto;
	cursor:pointer;
	pointer-events: all;
}
.web_left_bottom_img {
	position:fixed;
	bottom:0px;
	left:0px;
	width:250px;
}
.web_left_bottom_img p { color:#009999; font-size:17px; text-align:left; cursor:pointer; padding:4px 0px 0px 32px; }
.winner_copy_btn_turq { font-family:'fnb_sanslight',Calibri,Arial,Helvetica; }
#winner_copy_btn_turq { color:#FFFFFF; }
.web_left_bottom_img a, .web_left_bottom_img a:active { font-family:'fnb_sans_regularbold'; color:#000000; text-decoration:underline; font-size:8px !important; font-style:italic; }
.web_left_bottom_img .footer_small { font-family:'fnb_sans_regularbold'; color:#000000; text-decoration:none; font-size:8px !important; font-style:italic; }
.web_left_bottom_img .turq_terms { color:#FFFFFF; }
.web_right_bottom_social {
	position:fixed;
	bottom:80px;
	right:40px;
	width:25px;
}
.web_right_bottom_social img {
	cursor:pointer;
}
.web_scroll_image {
	position:fixed;
	bottom:0px;
	left:50%;
	margin-left:76px; /* -32px */
}
.web_scroll_img {
	width:65px;
}
.topLeftLogo_white {
	position:fixed;
	top:100px;
	left:4px;
	width:207px;
}
.topLeftCopy_img {
	width:207px;
}
.botLeftCopy_img {
	width:222px;
	cursor:pointer;
}

.landing_youtube_container {
	position:absolute;
	width:468px;
	height:264px;
	left:50%;
	top:50%;
	margin-top:-133px;
	margin-left:-234px;
	-webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
}
.landing_copy_cont {
	position:absolute;
	top:54.5%;
	right:50%;
	margin-right:-234px;	
}
.landing_copy_cont_left {
	position:absolute;
	top:54.5%;
	left:50%;
	margin-left:-429px;	
}
.landing_copy_cont_left p {
	width:150px;
	overflow:visible;
	height:190px;
	font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:230px;
	line-height:100%;
	line-height:230px;
	color:#009999;
	text-align:left;
	float:left;
	padding:0 0 0 0;
	margin:0 0 0 0;
}

/* ----------------------------------------- */
/* GENERAL STYLES */
.main_container {
	position:relative;
	top:0px;
	width:546px;
	left:50%;
	margin-left:-240px; /* LEFT SIDE OF PAGE = 216px wide */
}
.main_mobi_container {
	position:relative;
	width:750px;
	left:50%;
	margin-left:-375px;
}
.page_h1 {
	font-family: 'fnb_sanslight','Calibri',Calibri,Arial, Helvetica, sans-serif;
	border-style:solid;
	border-width:1px 0px;
	padding:10px 10px 10px 10px;
	margin:0px 0px 30px 0px;
	font-weight:100;
	letter-spacing: 1.5px;
	font-size:25px;
}
.page_bottom_h1 {
	font-size:20px;
	margin:5px 0px 10px 0px;
}
.square_btn {
	width:100px;
	height:25px;
		
	background-image:url(../images/btn_arrow.png);
	background-position:right center;
	background-color:#f99d1e;
	background-repeat:no-repeat;
	cursor:pointer;
	
	border:0px solid #ffd58c;
	cursor:pointer;
	
	color:#FFFFFF;
}
.square_btn p {
	color:#FFFFFF;
}
.square_btn:hover {
	background-color:#009999;
}
.square_btn_p {
	margin:0px;
	font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:bold;
	font-size:13px;
	color:#FFFFFF;
	font-weight:normal;
	text-align:left;
	padding:4px 7px 0px 7px;
}
.square_btn_href {
	text-decoration:none;
}
.square_btn_p a {
	color:#FFFFFF;
	text-decoration:none;
}
.square_btn_p a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
.left_btn {
	width:80px;
	float:left;
}
.enter_now_btn, .closed_now_btn {
	width:92px;
	margin-left:28px;
	float:left;
	background-image:url(../images/btn_arrow.png);
	cursor:pointer;
	margin-top:15px;
}
.closed_now_btn { width:100px; background-image:none; cursor:auto; }
.enter_now_btn:hover, .closed_now_btn:hover {
	background-color:#f99d1e;
}
.back_btn {
	width:60px;
	float:left;
}
.entries_now_open {
	position:fixed;
	top:100px;
	left:35px;
	width:115px;
	background-image:none;
	cursor:default;
}
.entries_now_open:hover { background-color:#f99d1e; }
.entries_now_open p { text-align:center; padding:4px 7px 0px 7px; }

.web_right_bottom_img { position:fixed; bottom:0px; right:0px; }


/* MAIN NAVIGATION MENU */
#nav_menu_btn_close {
	cursor:pointer;
}
.mobi_menu_btn {
	float:left;
	width:45px;
	cursor:pointer;
}
.mobi_float_container {
	position:fixed;
	top:0px;
	left:0px;
	margin-left:0px;
	width:100%;
	background-color:#FFFFFF;
	padding:10px;
	box-sizing:border-box;
}
.mobi_float_logo {
	float:right;
	width:146px;
}
.main_nav_container {
	position:fixed;
	top:20px;
	left:20px;
	background-color:#009999;
	padding:0px 0px;
	border:2px solid #FFFFFF;
	
	width:207px;
	overflow:hidden;
}
.main_nav {
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:left;
	padding:0px 0px;
	margin:0px;
	font-size:13px;
	color:#FFFFFF;
}
.main_nav hr {
	border-style:solid;
	border-width:1px 0px 0px 0px;
	color:#FFFFFF;
	margin:0px 10px;
}
.main_nav a {
	color:#FFF;
	text-decoration:none;
}
.main_nav a:visited {
	color:#FFF;
	text-decoration:none;
}
.nav_item {
	color:#FFF;
	padding:5px 10px 5px 10px;
	cursor:pointer;
}
.nav_item:hover {
	background-image:url(../images/web_nav_arrow.png);
	background-position:right;
	background-repeat:no-repeat;
	background-size:17px 30px;
	background-color:#fa9d1e;
}
.no_arrow:hover {
	background-image:none;
}
.nav_social_btns {
	padding:5px 0px 0px 10px;
}
.nav_social_btns img {
	cursor:pointer;
	padding-right:10px;
}

/* QUOTE STYLES */
.quote_p {
	font-family: 'fnb_sansthin_italic','Calibri',Calibri,Arial, Helvetica, sans-serif;
	padding-top:15px;
	padding-left:45px;
}
.quote_img_left {
	float:left;
	width:35px;
	padding:0px 10px 10px 0px;
}
.quote_img_right {
	float:right;
	width:35px;
	margin-top:10px;
}
.quote_author {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:left;
	padding-top:10px;
	padding-left:45px;
}
.quote_author {
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
}

/* ACCORDIAN STYLES */
.accordian_drop_hr {
	border-style:solid;
	border-width:1px 0px 0px 0px;
	padding:0px;
	margin:10px 0px;
}
.accordian_drop_btn {
	position:relative;
	width:54px;
	left:50%;
	margin-left:-27px;
	margin-top:-14px;
	cursor:pointer;
}
.accordian_close_btn {
	position:relative;
	width:54px;
	left:50%;
	margin-left:-27px;
	margin-top:-14px;
	cursor:pointer;
	display:none;
}
.accordian_ex_container {
	overflow:hidden;
	height:auto;
}
.accordian_ex_container ul {
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:left;
	padding:0px 15px;
	margin:0px 0px 20px 0px;
	font-size:13px;
	color:#000000;
}


/* PAGE CONTAINER STUFFS */
.mobi_page_anchor {
	position:absolute;
	margin-top:-70px;
}
.std_page {
	width:100%;
	background-color:#009999;
	height:100%;
	overflow:hidden;
}
.topRightLogoCont { position:fixed; width:195px; top:0px; right:25px; }
.topRightLogoCont img { float:right; margin-bottom:15px; }
.fb_share_thispage, .twitter_share_site, .in_share_btn { float:left; margin-left:0px; cursor:pointer; width:30px; }



/* PAGE: 1 INTRO */
.page_1_container, .page_1b_container {
	background-color:#FFFFFF;
	background-image:none;
	background-position:center center;
	background-size:auto auto;
	background-repeat:no-repeat;
}
.page_1b_container { background-image:none; }
.web_01_toplogo {
	float:right;
	width:100%;
}
.web_01_mute_btn {
	position:absolute;
	bottom:106px;
	right:20px;
	cursor:pointer;
	width:50px;
}


/* LANDING FACE ANIMATION STYLES */
.face-anim-parra {
	position:absolute;
	left:50%;
	top:50%;
}
.face-anim-face {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-320px;
	margin-top:-360px;
}
.face-anim-parra.dots1 {
	margin-left:-640px;
	margin-top:-262px;
}
.face-anim-parra.lines1 {
	margin-left:20%;
	margin-top:-290px;
}
.face-anim-parra.lines2 {
	margin-left:-40%;
	margin-top:-230px;
}


/*
video#bgvid {
	position: fixed; left: 50%; bottom: 0; margin-left:-50%;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(../images/video_image.png) no-repeat;
	background-position:top center;
	background-size:1200px auto;
	background-size:cover;
}
*/
/*
video#bgvid {
	position: fixed; left: 50%; bottom: 0; margin-left:-50%;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(../images/video_image.png) no-repeat;
	background-position:top center;
	background-size:1200px auto;
	background-size:cover;
}
*/
video { display: block; }
.video_play_btn {
	position:absolute;
	margin: 0;
	top: 20%;
	left:50%;
	transform: translate(-50%, -50%);
	cursor:pointer;
}

/* NEW BACKGROUND VIDEO STYLE */
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn_finalist{
	margin: 0 0 0 28px;
	cursor: pointer;
}
.winner-holder{
	/*width: 480px;
	height: 407px;*/
	width: 404px;
	height: 384px;
	margin: 15% auto;
	/*border: 1px solid red;*/
	position: relative;
	/*background: url('../images/landing_9june.png') no-repeat;*/
}
.winner-holder .video_play_btn{
	position: absolute;
	top: 120px;
  right: 109px;
  left: auto;
}
.winner-holder .video-holder{
	position: absolute;
	width: 404px;
  height: 227px;
	overflow: hidden;
	border: 1px solid #ccc;
}
.winner_video{
	/*width: 480px;
	height: 272px;*/

/*	width: 404px;
	height: 255px;
	position: absolute;
	top: 0;
	right: 0;*/
	width: 407px;
  height: 231px;
  position: absolute;
  top: 0px;
    
}
.landing_9june{
	position: relative;
    pointer-events: none;
}


/* ** ---- ** */


/* PAGE: MOBI PAGE 1 */
.mobi_page_1_container {
	position:relative;
	height:auto;
	min-height:100%;
	background-color:#FFFFFF;
}
.mobi_page_1 {
	height:auto;
	min-height:606px;
	background-image:url(../images/mobi_p1_bg.png);
	background-repeat:no-repeat;
	background-size:546px;
	background-position:top;
}
.mobi_p1_cta {
	position:absolute;
	top:100px;
	left:0px;
	width:100px;
}
.mobi_p1_footer_copy {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:left;
	padding:5px 0px 5px 0px;
	margin:0px 0px 0px 0px;
	font-size:14px;
}
.mobi_p1_terms_copy {
	font-family: 'fnb_sans_regularitalic','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	font-size:10px;
}

/* PAGE: 2 ABOUT THE AWARDS */
.page_2_container {
	width:100%;
	height:auto;
	min-height:100%;
}


/* PAGE: 3 ABOUT THE AWARDS */
.page_3_container {
	width:100%;
	height:auto;
	min-height:100%;
}
.p3_video_container {
	position:relative;
	width:380px;
	left:50%;
	margin-left:-190px;
}
.p3_h2 {
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:justify;
	border-style:solid;
	border-width:1px 0px;
	padding:5px 10px 5px 0px;
	margin:0px 0px 0px 0px;
	font-size:11pt;
}
.p3_youtube_iframe {
	margin:10px 0px;
	padding:0px;
	width:380px;
	height:230px;
}

/* PAGE: 4 SELECTION CRITERIA */
.page_4_container {
	width:100%;
	height:auto;
	min-height:100%;
}
.p4_list_first {
	padding:0px;
}
.p4_col_container {
	box-sizing:border-box;
}
.p4_col_container h2 {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:center;
	border:none;
	padding:10px 0px;
	margin:0px 0px 0px 0px;
	font-size:13px;
	color:#FFFFFF;
}
.p4_col_container ul {
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:left;
	padding:0px 15px;
	margin:0px;
	font-size:12px;
	color:#FFFFFF;
}
.p4_col_ex_btn_container {
	background-color:#FFFFFF;
}
/* left col */
.p4_col_left_container {
	float:left;
	background-color:#009999;
	color:#FFFFFF;
}
.p4_col_ex_left {
	margin:0px;
	padding:0px;
	
	overflow:hidden;
	height:auto;
	
	box-sizing:border-box;
}
.btn_p4_col_left {
	cursor:pointer;
}

/* right col */
.p4_col_right_container {
	float:right;
	background-color:#66c2c2;
	color:#FFFFFF;
}
.p4_col_ex_right {
	margin:0px;
	padding:0px;
	
	overflow:hidden;
	height:auto;
	
	box-sizing:border-box;
}
.p4_col_content {
	border-style:solid;
	border-width:1px 0px 0px 0px;
	border-color:#FFFFFF;
	margin:0px 10px;
	padding:20px 0px;
	box-sizing:border-box;
}

.btn_p4_col_right {
	cursor:pointer;
}

/* 3 column contaienrs */
.p4_3col_container { position:relative; padding-bottom:20px; }
.p4_3col {
	width:182px;
	box-sizing:border-box;
}
.p4_3col h2 {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:justify;
	border-style:solid;
	border-width:1px 0px;
	padding:5px 0px 5px 0px;
	margin:0px 0px 0px 0px;
	font-size:13px;
}
.p4_3col p {
	color:#000000;
}

/* col 1 */
.p4_3col_col1 {
	float:left;
}
.p4_3col_col1 h2 {
	margin:0px 10px 10px 0px;
}
.p4_3col_col1 p {
	padding:0px 10px 0px 0px;
}


/* col 2 */
.p4_3col_col2 {
	position:absolute;
	width:182px;
	box-sizing:border-box;
	top:0px;
	left:50%;
	margin-left:-91px;
	background:url(../images/web_04_col2_bg.png) no-repeat top;
	background-size:182px 31px;	
}
.p4_3col_col2 h2 {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:justify;
	border-style:solid;
	border-width:1px 0px;
	padding:5px 0px 5px 0px;
	margin:0px 10px 10px 10px;
	font-size:13px;
}
.p4_3col_col2 p {
	border-style:solid;
	border-color:#CCCCCC;
	border-width:0px 1px 0px 1px;
	padding:0px 10px 0px 10px;
	margin:10px 0px 0px 0px;
}

/* col 3 */
.p4_3col_col3 {
	float:right;
}
.p4_3col_col3 h2 {
	margin:0px 0px 10px 10px;
}
.p4_3col_col3 p {
	padding:0px 0px 0px 10px;
}



/* PAGE: 5 WHO CAN ENTER? */
.page_5_container {
	width:100%;
	height:auto;
	min-height:100%;
}

/* PAGE: 6 WHO CAN ENTER? */
.page_6_container {
	width:100%;
	height:auto;
	min-height:100%;
}
.p6_main_image {
	padding-bottom:15px;
}
.p6_slider {
	margin-bottom:15px;
}
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.judge_profile_img {
	width:150px;
	padding:0px 15px 30px 40px;
}
.judge_name, .judge_name2016 {
	font-size:20px;
	padding-bottom:15px;
	text-transform:uppercase;
}
.judge_name2016 { padding-top:5px; }
#judges_slider .owl-page span {
	/* background-color:#FFFFFF; */
}
.p6_slider p {
	padding-right:40px;
}



/* PAGE: 7 WHO CAN ENTER? */
.page_7_container {
	width:100%;
	height:auto;
	min-height:100%;
}
.p7_logo {
	position:relative;
	width:322px;
	left:50%;
	margin:0px 0px 25px -161px;
	padding:0px 0px 0px 0px;
}

/* PAGE: 8 WHO CAN ENTER? */
.page_8_container {
	width:100%;
	height:auto;
	min-height:100%;
}
.contact_us_copy {
	text-align:center;
	font-size:18px;
	padding: 0 0 10px 0;
}
.footer_container {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	box-sizing:border-box;
	background-color:#FFFFFF;
}
.footer_container p {
	text-align:left;
}
.footer_copy {
	font-size:11px;
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0px;
	padding:20px 30px 20px 30px;
}

/* PAGE: ENTRY FORM */
.web_form_topLogo {
	float:right;
	padding-bottom:20px;
	margin-right:45px;
}
.square_submit_btn, .square_save_btn {
	width:100px;
	height:25px;
		
	background-image:url(../images/btn_arrow.png);
	background-position:right center;
	background-color:#f99d1e;
	background-repeat:no-repeat;
	cursor:pointer;
	
	
	margin:15px 15px 0px 0px;
	font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:bold;
	font-size:13px;
	color:#FFFFFF;
	font-weight:normal;
	text-align:center;
	padding:0px 10px 0px 3px;
	
	border:0px solid #ffd58c;
}
.square_save_btn { background-color:#009999; }
.form_container {
	position:relative;
	width:660px;
	left:50%;
	margin-left:-330px;
	padding-bottom:40px;
	border:0px solid #0F0;
}
.form_container strong { font-family: 'fnb_sans_regularbold'; font-weight:100; }
.winner_copy_btn_white strong {font-family: 'fnb_sans_regularbold'; font-weight:100; }
.input_label {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:left;
	padding:2px 0px 0px 10px;
	margin:0px 0px 0px 0px;
	font-size:12px;
	color:#999999;
}
.yesno_btn {
	float:left;
	width:50px;
	height:22px;
	padding:3px 0px 0px 0px;
	margin:0px 0px 0px 20px;
	box-sizing:border-box;
	
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#999999;
	text-align:center;
	background-color:#E6E6E6;
	border:none;
	
	cursor:pointer;
}
.yesno_btn:hover {
	color:#FFFFFF;
	background-color:#fa9d1e;
}
.form_bottom_margin { margin-bottom:18px; }
.form_no_bottom_margin { margin-bottom:0px; }
.please_note_copy {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:left;
	padding:2px 10px 0px 10px;
	margin:0px 0px 0px 0px;
	font-size:12px;
	color:#999999;
}

/* LAYER 1 CONTAINER */
.l1_container { position:relative; }
.l2_container { position:relative; }
.l3_container { position:relative; }
.l4_container { position:relative; padding-bottom:20px;}
.l5_container { position:relative; }
.l6_container { position:relative; }
.l7_container { position:relative; }
/* LAYER 1 */
.l1_col1_container {
	float:left;
	width:222px;
	box-sizing:border-box;
}
.l1_col2_container {
	position:absolute;
	width:241px;
	box-sizing:border-box;
	top:0px;
	left:50%;
	margin-left:-90px;
}
.l1_col3_container {
	float:right;
	width:160px;
	box-sizing:border-box;
}

/* LAYER 2 */



/* LAYER 3 */
.l3_col1_container {
	float:left;
	width:205px;
	box-sizing:border-box;
}
.l3_col2_container {
	position:absolute;
	width:210px;
	box-sizing:border-box;
	top:0px;
	left:50%;
	margin-left:-105px;
}
.l3_col3_container {
	float:right;
	width:205px;
	box-sizing:border-box;
}

/* LAYER 4 */


/* LAYER 5 */
.l5_text_container {
	float:right;
	width:425px;
	box-sizing:border-box;
}
.l5_yesno_btn {
	width:30px;
	margin:0px 0px 0px 10px;
}
.form_error_copy, .validation_error_message {
	font-size:14px;
	color:#999999;
}







.input_text {
	background-color:#E6E6E6;
	border:none;
	color:#000000;

	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:5px 10px 5px 10px;
	margin:0px 0px 20px 0px;
	line-height:100%;
	line-height:1;
	
	box-sizing:border-box;
}
.placeholder_text { color:#999; }
.input_textarea {
	background-color:#E6E6E6;
	border:none;
	color:#999999;

	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:5px 10px 5px 10px;
	margin:0px 0px 20px 0px;
	line-height:100%;
	line-height:1;
	
	box-sizing:border-box;
}
input, textarea, keygen, select, button {
	margin: 0em;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
}
input, textarea, keygen, select, button, meter, progress {
	-webkit-writing-mode: horizontal-tb;
}
.select_list {	
	-webkit-appearance: menulist;
	box-sizing: border-box;
	align-items: center;
	border: 0px solid;
	/*
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	*/
	color: #999999;
	background-color:#E6E6E6;
	
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:5px 10px 5px 10px;
	margin:0px 0px 20px 0px;
	line-height:100%;
	line-height:1;
	
	border:none;
    outline:none;
    display:inline-block;
	/*
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
	*/
    cursor:pointer;
	box-sizing:border-box;
}
.input_text {
	background-color:#FFFFFF;
	border:1px solid #e6e6e6;
	color:#666666;

	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:5px 10px 5px 10px;
	margin:0px 0px 15px 0px;
	line-height:100%;
	line-height:1;
	text-align:left;
	
	box-sizing:border-box;
}

/* LIGHTBOX */
.lightbox {
  position: absolute; top: 195px; left: 50%;
  
  z-index: 9999; display: none;
  background-color:#FFFFFF;
  width:400px;
  min-height:100px;
  margin-left:-200px;
}
.lightbox-close {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #aaa;
  background: rgba(255, 255, 255, 1);
  text-decoration: none;
  color:#009999;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  padding: 0px;
  font: bold 14px/1.3 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
  
  cursor:pointer;
}
.lightbox-close:hover {
  background: #009999;
  background: rgba(0, 153, 153, 0.5);
}
.lightbox-close:active {
  background: #ccc;
  background: rgba(0, 153, 153, 0.3);
  -webkit-box-shadow: inset black 0 0 5px;
     -moz-box-shadow: inset black 0 0 5px;
      -ms-box-shadow: inset black 0 0 5px;
       -o-box-shadow: inset black 0 0 5px;
          box-shadow: inset black 0 0 5px;
}
.lightbox-mask {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  background: #FFFFFF;
  background: rgba(255, 255, 255, 1);
  z-index: 9998; display: none;
}
.skrollr_lightbox-mask {
	width: 100%; height: 100%;
	background: #FFFFFF;
	background: rgba(255, 255, 255, 1);
	display: block;
	background-image:url(../images/loader_2.gif);
	background-position:center center;
	background-repeat:no-repeat;
}
.lightbox_content {
	padding:0px;
}
.lightbox_content p {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;

	line-height:130%;
	line-height:1.3;
}


.full_text_width {
	width:100%;
}

/* PAGE: THANKYOU */
.thankyou_copy {
	font-size:14px;
}


/* PAGE: RM LOGIN */
.rm_login_body {
	background-image:url(../images/rm_page_bg.png);
	background-repeat:no-repeat;
	background-position:left bottom;
	background-size:auto 100%;
}
.rm_login_container {
	width:330px;
	left:50%;
	margin-left:-150px;
	padding-bottom:40px;
	margin-top:-50px;
}
.rm_login_h1 {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	text-align:left;
	border-style:solid;
	border-width:0px 0px;
	padding:0px 0px 10px 0px;
	margin:0px 0px 0px 0px;
	font-size:28px;
	font-weight:normal;
	text-transform:none;
	line-height:120%;
	line-height:1.2;
}
.rm_login_btn {
	width:60px;
	margin-top:0px;
}
.rm_register_btn {
	width:80px;
	margin-top:0px;
}
.rm_footer_container {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	box-sizing:border-box;
	background-color:transparent;
}
.rm_footer_container p {
	text-align:left;
	padding-left:95px;
	padding-bottom:10px;
}
.rm_social {
	bottom:20px;
}
.rm_footer_copy {
	font-size:7px;
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0px;
	padding:40px 15px 0px 30px;
	float:left;
	line-height:140%;
	line-height:1.4;
}
.rm_login_reg_href {
	font-size:14px;
	padding-top:3px;
}
.rm_socialbtns_cont {
	float:right;
	margin-right:40px;
}
.rm_socialbtns_cont img { width:20px; margin-left:6px; }
.rm_swisslogo { float:right; margin-right:30px; }


/* PAGE: RM REGISTER */
.validation_error_message {
	color:#ec2227;
	font-size:12px;
	font-style:italic;
	padding-top:15x;
}

/* PAGE: RM CLIENT LIST */
.client_list_container {
	width:720px;
	margin-left:-360px;
	padding-bottom:40px;
}
.client_list_wide_container {
	width:900px;
	margin-left:-460px;
	padding-bottom:40px;
}
.rm_list_h1 {
	text-transform:none;
	padding:10px 10px 10px 10px;
	margin:0px 0px 15px 0px;
}
.client_container  { position:relative; }
.client_col1 {
	float:left;
	width:222px;
	box-sizing:border-box;
}
.client_col2 {
	position:absolute;
	width:241px;
	box-sizing:border-box;
	top:0px;
	left:50%;
	margin-left:-130px;
}
.client_col3 {
	float:right;
	width:200px;
	box-sizing:border-box;
}
.rm_remove_client {
	float:right;
	cursor:pointer;
	margin:0px 0px 0px 15px;
}
.rm_add_client {
	cursor:pointer;
	margin:0px 0px 0px 15px;
}
#client_invite_page .rm_footer_container {
	position:relative;
	margin-top:30px;
	background-color:transparent;
}


/* PAGE: RM NOMINATION STATUS */
.status_head {
	padding:10px;
	text-align:left;
	color:#FFFFFF;
	background-color:#999999;
	vertical-align:middle;
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:12px;
}
.head_name { width:20%; border-width:1px; border-style:solid; border-color:#999999; border-right-color:#FFFFFF; }
.head_client_name { width:16%; border-width:1px; border-style:solid; border-color:#999999; border-right-color:#FFFFFF; }
.head_invited { width:4%; border-width:1px; border-style:solid; border-color:#999999; border-right-color:#FFFFFF; }
.head_company { width:20%; border-width:1px; border-style:solid; border-color:#999999; border-left-color:#FFFFFF; border-right-color:#FFFFFF; }
.head_email { width:20%; border-width:1px; border-style:solid; border-color:#999999; border-left-color:#FFFFFF; border-right-color:#FFFFFF; }
.head_status { width:20%; border-width:1px; border-style:solid; border-color:#999999; border-left-color:#FFFFFF; }

.status_tr {
	
}
.status_tr td {
	padding:6px;
	text-align:left;
	color:#999999;
	vertical-align:middle;
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-size:11px;
	border-width:0px 1px 0px 1px; border-style:solid; border-right-color:#999999; border-left-color:#999999;
}
.white_tr { background-color:#FFFFFF; }
.grey_tr { background-color:#F2F2F2; }
.rm_menu_btn {
	position:absolute;
	/*z-index: 100;*/
}
.status_footer {
	height:10px;
	background-color:#999999;
}



/* PAGE: Entry form login and Register */
.login_n_register_container {
	width:560px;
	margin-left:-280px;
	padding-bottom:10px;
}
.form_half_container {
	width:260px;
}
.form_half_container h1 {
	text-transform:uppercase;
}
.form_half_container a { text-decoration:none; font-size:12px;}
.vertcl_turq_line {
	border-width:0px 1px 0px 1px;
	border-color:#009999;
	border-style:solid;	
	height:220px;
	margin-left:19px;
}
.form_message {
	padding-top:15px;
	font-size:15px;
	color:#e41e26;
}
.entry_register_btn {
	width:100px;
	margin-top:0px;
}

/* PAGE: Recover password */
.recover_pass_container {
	width:300px;
	margin-left:-140px;
	padding-bottom:10px;
}
.recover_pass_container h1 { text-transform:uppercase;}
.recover_btn { width:90px; margin-top:0px; }
.recover_pass_message {
	padding-top:0px;
	font-size:13px;
	line-height:150%;
	line-height:1.5;
}

.garbage_container {
	width:900px;
	margin-left:-450px;
	padding-bottom:10px;
}

/* OTHER */
.judge_desktop_slider {
	position:relative;
}
.judge_slider_arrow {
	position:absolute;
	top:40%;
	margin-top:-12px;
	width:14px;
	height:23px;
	cursor:pointer;
}
.slide_arrow_left {
	left:0px;
}
.slide_arrow_right {
	right:0px;
}


/* PAGE: FINALISTS */
.lefthalf_cont {	
	float:left;
	width:50%;
	box-sizing:border-box;
}
.assContainer {
	padding-bottom:30px;
}
.lefthalf_cont .assContainer p {
	padding:0px 25px 0px 0px;
}

.righthalf_cont {
	float:right;
	width:50%;
	box-sizing:border-box;
}
.righthalf_cont .assContainer p {
	padding:0px 0px 0px 25px;
}
.righthalf_cont .assLogo {
	padding:0px 0px 0px 25px;
}
.assLogo { width: 122px; height:auto; }
.finalist_profile_img {
	width:190px;
	height:auto;
	padding:0px 15px 0px 40px;
}
.finalist_slider_logo {
	width:230px;
	height:auto;
}
.finalist-link{
	text-decoration: none;
	color: #000000;
}
.watch_now_btn, .watch_now_btn2 {
	position:absolute;
	left:245px;
	bottom:0px;
	cursor:pointer;
	width:109px;
	height:24px;
}

.finalist-img-btn .watch_now_btn{
	position: relative;
	top: auto;
	left: auto;
	float: left;
    clear: left;
    margin: -20px 0 0 40px;
}



/* PAGE: THE WINNER */
.winnercopy {
	font-size:19px;
	
	font-family:'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal;
}
.winnercopy strong {
	font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;  font-weight:bold;
}
.winner_photo {
	float:left;
	width:175px;
}
.winner_content_cont {
	/*float:right;*/
  float: left;
  margin: 0 0 0 20px;
	width:355px;
}
.winner_content_cont .BG_TURQ {
	font-size:16px;
	text-align:center;
	padding:10px;
}
.winner_content_cont .BG_TURQ strong {
	font-family:'fnb_sans_regularbold','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal;
}
#PAGE_8_CONTENT .page_h1 { margin-bottom:20px; }




/* PAGE: ARCHIVES */
.archive_colour_cont { background-color:#00b4b9; }
.archive_nav_cont { width:33.3333%; float:left; background-color:#009595; }
.archive_nav_cont p {
	color:#FFFFFF;
	text-align:center;
	padding:10px;
	font-weight:900;
}
.archive_colour_cont div:first-child { width:33.3333%; background-color:#00595a; }
.archive_colour_cont div:last-child { width:33.3333%; background-color:#00b4b9; }

.profiles_colour_cont div:first-child { width:50%; background-color:#00595a; }
.profiles_colour_cont div:last-child { width:50%; background-color:#00b4b9; }
.profiles_nav_cont { width:50%; float:left; background-color:#009595; }
.profiles_nav_cont p {
	color:#FFFFFF;
	text-align:center;
	padding:10px;
	font-weight:900;
}

/* PAGE ALUMNI */
.alumni_colour_cont { background-color:#00b4b9; }
.alumni_nav_cont { width:50%; float:left; background-color:#009595; cursor:pointer; }
.alumni_nav_cont p {
	color:#FFFFFF;
	text-align:center;
	padding:10px;
	font-weight:900;
}
.alumni_colour_cont div:first-child { width:50%; background-color:#00595a; }
.alumni_colour_cont div:last-child { width:50%; background-color:#00b4b9; }
.alumni_sliders_modal_cont {
	height: auto;
    position: absolute;
    width: 640px;
    top: 50%;
    left:50%;
    margin-left:-320px;
    z-index: 98;
    background-color: #FFFFFF;

}
.alumni_sliders_modal_cont p{
	font-size: 14px;
}
.modal-btn-close{
	width: 20px;
	height: 20px;
	background: url('../images/btn-close.jpg');
	cursor: pointer;	
	position: absolute;
	top: -25px;
	right: 0;

}
.alumni_2016_page { top:0%; left:100%; }



.archive_arrow_rm, .profiles_arrow_rm {
	background-image:none;
	background-position:center top;
	background-repeat:no-repeat;
	background-color:#FFFFFF;
	height:30px;
	cursor:pointer;
	margin-bottom:40px;
}
.rm_closed { background-image:url(../images/archive_rm_closed.png); }
.rm1_open { background-image:url(../images/archive_rm1_open.png); }

#winner_container { display:none; }
#winner_container2016 { display:none; }
#finalists_slider_container { display:none; }

/*#judges_slider_container2016 { display:none; }*/
#finalists_slider_container2016 { display:none; }

/* PAGE: PROCESS */
.process_disclaimer {
	font-size:11px;
	text-align:left;
	font-style:italic;
	font-weight:900 !important;
}



.entries_close_copy { font-size:11px; padding-left:28px; padding-top:15px; }
/* END OF PROJECT STYLES */



/* FRAME STYLES */
.frame_input_marked {
	border:1px solid #F00;
}
.frame_input_checked {
	border:1px solid #009999;
	background-image:none;
}
.frame_input_checked_disabled {
	border:1px solid #009999;
	background-image:none;
	background-color:#FFFFFF;
}
.BG_ORANGE { background-color:#f99d1e; }
.BG_TURQ { background-color:#009999; }
.BG_GREY { background-color:#ebebeb; }
.BG_L_GREY { background-color:#eaeaea; }
.BG_WHITE { background-color:#FFFFFF; }
.ORANGE_COPY { color:#f99d1e; border-color:#f99d1e; }
.TURQ_COPY { color:#009999; border-color:#009999; }
.GREY_COPY { color:#eeeeee; border-color:#eeeeee; }
.DARK_GREY_COPY { color:#999999; border-color:#999999; }
.WHITE_COPY { color:#FFFFFF; border-color:#FFFFFF; }
.BLACK_COPY { color:#000000; border-color:#000000; }

.HALF_WIDTH_PX { width:273px; }

.MOBILE { display:none; }
.DESKTOP { display:block; }
/* PROJECT STYLES END HERE */
/* HELPER STYLES AT END */
.clear { clear:both; }
.LEFT { float:left; }
.RIGHT { float:right; }
.CENTER { text-align:center; }
.FULL_WIDTH { width:100%; }
.FULL_WIDTH_PX { width:960px; }
.LAST_COL { margin-right:0px; padding-right:0px; }
.FIRST_COL { margin-left:0px; }
/* FONT STUFFS */
.regular { font-weight:normal; }
.COPY_BOLD { /* font-family:'fnb_sans_regularbold','Calibri',Calibri,Arial, Helvetica, sans-serif; */ font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;  font-weight:bold; }
.COPY_REGULAR { font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal; }
.COPY_THIN { font-family:'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal; }
.COPY_ITALIC { font-family:'fnb_sansthin_italic','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal; font-style:italic; }
.COPY_REGULAR_ITALIC { font-family:'fnb_sans_regularitalic','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal; font-style:italic; }

#profiles_video_container{
	height: 410px;
  position: absolute;
  width: 640px;
  top: 100px;
  z-index: 99;
  background: blue;
  display: none;
}

.btn-close{
	width: 20px;
	height: 20px;
	background: url('../images/btn-close.jpg');
	cursor: pointer;	
	position: absolute;
	top: -25px;
	right: 0;

}

#winnercopyslider{
	margin: 10px 0 0 0;
}
#winnercopyslider2016{
	margin: 15px 0 0 0;

}

#winner_container2016 h1{
 color: #009999;
 border-top: 1px solid #009999;
 border-bottom: 1px solid #009999;
 margin: 0 0 15px 0;
 height: 40px;
 line-height: 40px;
}

.termscontainer{
	max-width: 540px;
	width: 90%;
	margin: 150px auto 0 auto;

}

.termslogo{
	position: absolute;
	top: 0px;
	right: 20px;
}

.countdown{
	margin: 0 0 0 32px;
	/*width: 150px;*/
}

.countdown_close-text{
	font-family: 'fnb_sanslight';
	font-size: 12px;
	color: black;
}

.countdown__unit{
	color:#FF9933;
	font-size: 23px;
	font-family: 'fnb_sanslight';
	display: inline-block;	
	height: 26px;
	line-height: 26px;
	border-right: 1px solid #FF9933;
	padding: 0 12px;
	margin: 5px 0 0 0;
}
.countdown__unit--first{
	padding: 0 12px 0 0;
}
.countdown__unit--noborder{
	border: none;
}

.countdown__counter{
	font-family: 'fnb_sans_regularbold';
}

