@charset "utf-8";
/* MAIN NAVIGATION MENU */
.main_mobi_container {
	position:relative;
	width:750px;
	left:50%;
	margin-left:-375px;
}
.web_menu_btn_img {
	position:absolute;
	margin-top:36px;
	top:0%;
	left:32px;
	width:50px;
	height:auto;
	cursor:pointer;
	z-index:100;
}
#nav_menu_btn_close {
	cursor:pointer;
}
.mobi_menu_btn {
	float:left;
	width:45px;
	cursor:pointer;
}
.mobi_float_container {
	position:fixed;
	top:0px;
	left:0px;
	margin-left:0px;
	width:100%;
	background-color:#FFFFFF;
	padding:10px;
	box-sizing:border-box;
}
.mobi_float_logo {
	float:right;
	width:146px;
}
.main_nav_container {
	position:fixed;
	top:20px;
	left:20px;
	background-color:#009999;
	padding:0px 0px;
	border:2px solid #FFFFFF;
	width:207px;
	overflow:hidden;
	z-index:101;
}
.main_nav {
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:left;
	padding:0px 0px;
	margin:0px;
	font-size:13px;
	color:#FFFFFF;
}
.main_nav hr {
	border-style:solid;
	border-width:1px 0px 0px 0px;
	color:#FFFFFF;
	margin:0px 10px;
}
.main_nav a {
	color:#FFF;
	text-decoration:none;
}
.main_nav a:visited {
	color:#FFF;
	text-decoration:none;
}
.nav_item {
	color:#FFF;
	padding:5px 10px 5px 10px;
	cursor:pointer;
	font-size:13px;
	margin-left:0px;
}
.nav_item:hover {
	background-image:url(../images/web_nav_arrow.png);
	background-position:right;
	background-repeat:no-repeat;
	background-size:17px 30px;
	background-color:#fa9d1e;
}
.no_arrow:hover {
	background-image:none;
}
.nav_social_btns {
	padding:5px 0px 0px 10px;
}
.nav_social_btns img {
	cursor:pointer;
	padding-right:10px;
}
/* TEMPLATE LAYOUT STYLES */
.topRightLogoCont { position:fixed; width:195px; top:0px; right:25px; }
.topRightLogoCont img { float:right; margin-bottom:15px; }
.fb_share_thispage, .twitter_share_site, .in_share_btn { float:left; margin-left:0px; cursor:pointer; width:30px; }
.web_right_bottom_img { position:fixed; bottom:0px; right:0px; }
.rm_footer_container {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	box-sizing:border-box;
	background-color:#FFFFFF;
}
.rm_footer_container p {
	text-align:left;
	padding-left:32px;
	padding-bottom:20px;
}
.rm_footer_copy {
	font-size:8px;
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0px;
	padding:40px 15px 0px 30px;
	float:left;
	line-height:140%;
	line-height:1.4;
}

/* 760 */
@media only screen and (max-width: 760px) {
	body {
		margin-bottom: 0px;
	}
	/* TEMPLATE STYLES */
	.topRightLogoCont {
		border:0px solid #00ccff;
		right:0px;
		padding-right:15px;
		top:-5px;
		width:100%;
		background-color:#FFFFFF;
	}
	.web_01_toplogo {
		width:150px;
	}
	.web_menu_btn_img {
		position:fixed;
		margin-top:15px;
		top:0%;
		left:15px;
		width:50px;
		height:auto;
	}
	.main_nav_container {
		top:0px;
		left:0px;
		width:270px;
		box-sizing: border-box;
	}
	.nav_item {
		padding:15px 15px 15px 15px;
		font-size:15px;
	}
	.rm_footer_container {
		position:relative;
	}
	.rm_footer_container p {
		text-align:left;
		padding-left:15px;
		padding-bottom:15px;
	}
	.web_right_bottom_img { display:none; }
	.rm_footer_copy {
		padding:20px 15px 0px 30px;
	}
}
/* 360 */
@media only screen and (max-width: 360px) {
	/* TEMPLATE STYLES */
	.web_01_toplogo {
		width:120px;
		margin-top:-2px;
	}

	.main_nav_container {
		top:0px;
		left:0px;
		width:100%;
		box-sizing: border-box;
	}
}
