@charset "utf-8";
/* CSS Document */
p, li { font-family:'fnb_sanslight','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:normal; font-size:12px; }
p { padding:0 0 15px 0; }
ul, td ol { padding-bottom:10px; padding-right:10px; }
li { margin-left:2em;  }
td {
    padding-top:10px;
	border:1px solid #009999;
	border-width:0px 0px 1px 1px;
	vertical-align: top;
}
.terms_main_table {
	width:100%;
    margin-bottom:15px;
}
.terms_main_table tr td:first-child p, p strong {
	font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;  font-weight:bold;
}
.terms_main_table tr td:last-child {
	border-right-width:1px;
}
.terms_main_table tr td:last-child p {
	font-family:'fnb_sanslight','Calibri',Calibri,Arial, Helvetica, sans-serif;  font-weight:normal;
}
.terms_main_table td p {
	font-size:12px;
	padding:0 10px 10px 10px;
}
.terms_main_table .col1 {
	width:33%;
	border-top-width:1px;
}
.terms_main_table .col2 {
	width:67%;
	border-top-width:1px;
}
.border_cont {
	border:1px solid #009999;
	padding:20px 15px 15px 15px;
    margin-bottom:15px;
}
.terms_cont { padding-top:220px; }
@media only screen and (max-width: 800px) {
	p, li { font-size:10px; }
	.main_container { width:300px; margin-left:-150px; padding-top:150px; }
	.terms_main_table td p {
	font-size:10px;
	padding:0 10px 10px 10px;
}
}