/* ==========================================================================
   Imports/Includes
   ========================================================================== */
/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  background: #FFFFFF; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* site imports here*/
/* CSS Document */
@font-face {
  font-family: 'fnb_sansthin_italic';
  src: url("fonts/fnb_sans-thinitalic-webfont.eot");
  src: url("fonts/fnb_sans-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fnb_sans-thinitalic-webfont.woff") format("woff"), url("fonts/fnb_sans-thinitalic-webfont.ttf") format("truetype"), url("fonts/fnb_sans-thinitalic-webfont.svg#fnb_sansthin_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fnb_sans_regularbold';
  src: url("fonts/fnb_sans-bold-webfont.eot");
  src: url("fonts/fnb_sans-bold-webfont.svg#fnb_sans_regularbold") format("svg"), url("fonts/fnb_sans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fnb_sans-bold-webfont.woff") format("woff"), url("fonts/fnb_sans-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fnb_sans_regularitalic';
  src: url("fonts/fnb_sans-italic-webfont.eot");
  src: url("fonts/fnb_sans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fnb_sans-italic-webfont.woff") format("woff"), url("fonts/fnb_sans-italic-webfont.ttf") format("truetype"), url("fonts/fnb_sans-italic-webfont.svg#fnb_sans_regularitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fnb_sansthin';
  src: url("fonts/fnb_sans-thin-webfont.eot");
  src: url("fonts/fnb_sans-thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fnb_sans-thin-webfont.woff") format("woff"), url("fonts/fnb_sans-thin-webfont.ttf") format("truetype"), url("fonts/fnb_sans-thin-webfont.svg#fnb_sansthin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fnb_sans_regularregular';
  src: url("fonts/fnb_sans-regular-webfont.eot");
  src: url("fonts/fnb_sans-regular-webfont.svg#fnb_sans_regularregular") format("svg"), url("fonts/fnb_sans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fnb_sans-regular-webfont.woff") format("woff"), url("fonts/fnb_sans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fnb_sanslight';
  src: url("fonts/fnb_sans-light-webfont.eot");
  src: url("fonts/fnb_sans-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fnb_sans-light-webfont.woff") format("woff"), url("fonts/fnb_sans-light-webfont.ttf") format("truetype"), url("fonts/fnb_sans-light-webfont.svg#fnb_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
/**
 * breakpoints for media queries
 * usage example: 
 * .section{
 *   width: 100%;
 *   @include bp($mobile){
 *     width: 50%;
 *   }
 * }
 */
.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  /*padding: 60px 0 0 0;*/ }
  @media screen and (max-width: 680px) {
    .wrapper {
      max-width: none; } }

#form2016 {
  font-family: 'fnb_sans_regularregular';
  font-size: 10px;
  color: #999999; }
  #form2016 h1 {
    font-family: 'fnb_sans_regularbold';
    font-size: 25px;
    color: #009898;
    width: 100%;
    border-top: 1px solid #009898;
    border-bottom: 1px solid #009898;
    line-height: 40px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    float: left; }
  #form2016 p {
    float: left;
    line-height: 20px;
    margin: 0;
    padding: 0 0 0 10px; }
  #form2016 .logo {
    background: url("../../images/form/logo-bia2016.svg") no-repeat;
    width: 195px;
    height: 103px;
    margin: 0px 45px 45px 45px;
    float: right; }
  #form2016 .form-holder {
    width: 100%;
    max-width: 665px;
    margin: 0 auto 30px auto; }
  #form2016 input[type="text"], #form2016 select {
    font-size: 10px;
    line-height: 20px;
    border: none;
    background: #e6e6e6;
    padding: 0 10px;
    height: 20px;
    box-sizing: border-box;
    float: left;
	color: #000000; }
	#form2016 select {
		padding:0 6px;
	}
    #form2016 input[type="text"]::-webkit-input-placeholder, #form2016 select::-webkit-input-placeholder {
      color: #999999; }
    #form2016 input[type="text"]:-moz-placeholder, #form2016 select:-moz-placeholder {
      /* Firefox 18- */
      color: #999999; }
    #form2016 input[type="text"]::-moz-placeholder, #form2016 select::-moz-placeholder {
      /* Firefox 19+ */
      color: #999999; }
    #form2016 input[type="text"]:-ms-input-placeholder, #form2016 select:-ms-input-placeholder {
      color: #999999; }
    #form2016 input[type="text"]:placeholder, #form2016 select:placeholder {
      color: #999999; }
  #form2016 textarea {
    width: 100%;
    border: none;
    background: #e6e6e6;
    padding: 15px 10px;
    box-sizing: border-box;
    margin: 0 0 18px 0;
	color:#000000; }
  #form2016 form {
    float: left;
    margin: 20px 0 0 0;
    width: 100%; }
  #form2016 .row {
    margin: 0 0 18px 0;
    height: 20px;
    float: left;
    width: 100%; }
    @media screen and (max-width: 680px) {
      #form2016 .row {
        height: auto;
        overflow: auto;
        margin: 0; } }
  #form2016 .col-100 {
    width: 100%;
    margin: 0 0 18px 0; }
  #form2016 .col-66 {
    width: 432px;
    margin: 0 0 0 20px; }
    @media screen and (max-width: 680px) {
      #form2016 .col-66 {
        width: 100%;
        margin: 0 0 18px 0; } }
  #form2016 .col-50 {
    width: 324px;
    margin: 0 0 0 20px; }
    @media screen and (max-width: 680px) {
      #form2016 .col-50 {
        width: 100%;
        margin: 0 0 18px 0; } }
  #form2016 .col-33 {
    width: 208px;
    margin: 0 0 0 20px; }
    @media screen and (max-width: 680px) {
      #form2016 .col-33 {
        width: 100%;
        margin: 0 0 18px 0; } }
  #form2016 .col-16 {
    width: 94px;
    margin: 0 0 0 20px; }
    @media screen and (max-width: 680px) {
      #form2016 .col-16 {
        width: 100%;
        margin: 0 0 18px 0; } }
  #form2016 .col-25 {
    width: 150px;
    margin: 0 0 0 20px; }
    @media screen and (max-width: 680px) {
      #form2016 .col-25 {
        width: 100%;
        margin: 0 0 18px 0; } }
  #form2016 .no-margin {
    margin: 0; }
    @media screen and (max-width: 680px) {
      #form2016 .no-margin {
        margin: 0 0 18px 0; } }
  #form2016 .toggle-yes-no {
    float: left;
    margin: 0 0 0 20px; }
    @media screen and (max-width: 420px) {
      #form2016 .toggle-yes-no {
        margin: 0px 0 18px 5px; } }
    #form2016 .toggle-yes-no .toggle-btn {
      width: 50px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      background: #e6e6e6;
      float: left;
      cursor: pointer;
      -webkit-transition: background 0.3s, color 0.3s;
      -moz-transition: background 0.3s, color 0.3s;
      transition: background 0.3s, color 0.3s; }
      #form2016 .toggle-yes-no .toggle-btn.btn-no {
        margin: 0 0 0 20px; }
      #form2016 .toggle-yes-no .toggle-btn.selected {
        background: #f99c1d;
        color: #FFFFFF; }
  #form2016 .yn-question-1 {
    width: 179px; }
	@media screen and (max-width: 420px) {
		#form2016 .yn-question-1 {
		width: 150px; } }
  #form2016 .yn-question-2 {
    width: 198px; }
  #form2016 .yn-question-3 {
    width: 188px; }
	@media screen and (max-width: 420px) {
		#form2016 .yn-question-3 {
		width: 130px; } }
  #form2016 .yn-question-4 {
    width: 255px; }
  #form2016 .yn-question-5 {
    width: 190px; }
  #form2016 .yn-question-5 {
    width: 277px; }
  #form2016 .yn-answer-1 {
    float: left;
    margin: 0 0 0 20px;
    width: 299px; }
    @media screen and (max-width: 680px) {
      #form2016 .yn-answer-1 {
        margin: 18px 0;
        width: 100%; } }
  #form2016 .yn-answer-2 {
    float: left;
    margin: 0 0 0 20px;
    width: 297px; }
    @media screen and (max-width: 680px) {
      #form2016 .yn-answer-2 {
        margin: 18px 0;
        width: 100%; } }
  @media screen and (max-width: 680px) {
    #form2016 .with-help {
      width: calc(100% - 17px); } }
  #form2016 .help {
    background: url("../../images/form/icon-help.svg") no-repeat;
    width: 17px;
    height: 20px;
    float: left;
    margin: 0;
    cursor: pointer; }
  #form2016 .captchaHolder {
    width: 207px;
    height: 50px;
    background: #e6e6e6;
    float: left;
    margin: 0 0 18px 0; }
  #form2016 .btn-save {
    width: 66px;
    height: 24px;
    border: none;
    background: url("../../images/form/btn-save.svg") no-repeat;
    cursor: pointer;
    float: left;
    color: #FFFFFF;
    padding: 1px 0 0 19px;
    font-size: 11px;
    text-align: left; }
  #form2016 .btn-submit {
    width: 66px;
    height: 24px;
    border: none;
    background: url("../../images/form/btn-submit.svg") no-repeat;
    cursor: pointer;
    float: left;
    margin: 0 0 0 20px;
    color: #FFFFFF;
    padding: 1px 0 0 10px;
    font-size: 11px;
    text-align: left; }

.toast-title {
  font-weight: bold; }

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

.toast-message a,
.toast-message label {
  color: #ffffff; }

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none; }

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80); }

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40); }

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-left {
  top: 12px;
  left: 12px; }

.toast-top-right {
  top: 50%;
  left: 50%;
  margin-left: -150px; }

.toast-bottom-right {
  right: 45px;
  bottom: 35px; }
  @media screen and (max-width: 680px) {
    .toast-bottom-right {
      right: 0;
      bottom: 20px; } }

.toast-bottom-left {
  bottom: 12px;
  left: 12px; }

#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/ }

#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 25px 15px;
  width: 480px;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF; }
  @media screen and (max-width: 680px) {
    #toast-container > div {
      width: 99%; } }

#toast-container > .toast-error {
  /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;*/ }

#toast-container > .toast-success {
  /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;*/ }

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin: auto; }

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin: auto; }

.toast {
  background-color: #030303; }

.toast-success {
  background-color: #009898; }

.toast-error {
  background-color: #bd362f; }

.toast-info {
  background-color: #2f96b4; }

.toast-warning {
  background-color: #f89406; }

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40); }

/*Responsive Design*/

/*# sourceMappingURL=form.css.map */

/* ----------------------------------------------------------------------------- */
/* ARNO ADDED CLASSES */


/* BUTTONS TYLES */
.square_btn {
	width:100px;
	height:25px;
		
	background-image:url(../images/btn_arrow.png);
	background-position:right center;
	background-color:#f99d1e;
	background-repeat:no-repeat;
	cursor:pointer;
	
	border:0px solid #ffd58c;
	cursor:pointer;
	
	color:#FFFFFF;
}
.square_submit_btn, .square_save_btn {
	width:100px;
	height:25px;
		
	background-image:url(../images/btn_arrow.png);
	background-position:right center;
	background-color:#f99d1e;
	background-repeat:no-repeat;
	cursor:pointer;
	
	
	margin:15px 15px 0px 0px;
	font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:bold;
	font-size:13px;
	color:#FFFFFF;
	font-weight:normal;
	text-align:center;
	padding:0px 10px 0px 3px;
	
	border:0px solid #ffd58c;
}
.square_btn p {
	color:#FFFFFF;
}
.square_btn:hover {
	background-color:#009999;
}
.square_btn_p {
	margin:0px;
	font-family:'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif; font-weight:bold;
	font-size:13px;
	color:#FFFFFF;
	font-weight:normal;
	text-align:left;
	padding:4px 7px 0px 7px;
}
.square_btn_href {
	text-decoration:none;
}
.square_btn_p a {
	color:#FFFFFF;
	text-decoration:none;
}
.square_btn_p a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
.CC_back_btn {
	width:60px;
	float:left;
}



/* LIGHTBOX */
.lightbox {
  position: absolute; top: 195px; left: 50%;
  
  display: none;
  background-color:#FFFFFF;
  width:400px;
  min-height:100px;
  margin-left:-200px;
}
.lightbox-close {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #aaa;
  background: rgba(255, 255, 255, 1);
  text-decoration: none;
  color:#009999;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  padding: 0px;
  font: bold 14px/1.3 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;
  
  cursor:pointer;
}
.lightbox-close:hover {
  background: #009999;
  background: rgba(0, 153, 153, 0.5);
}
.lightbox-close:active {
  background: #ccc;
  background: rgba(0, 153, 153, 0.3);
  -webkit-box-shadow: inset black 0 0 5px;
     -moz-box-shadow: inset black 0 0 5px;
      -ms-box-shadow: inset black 0 0 5px;
       -o-box-shadow: inset black 0 0 5px;
          box-shadow: inset black 0 0 5px;
}
.lightbox-mask {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  background: #FFFFFF;
  background: rgba(255, 255, 255, 1);
  display: none;
}
.skrollr_lightbox-mask {
	width: 100%; height: 100%;
	background: #FFFFFF;
	background: rgba(255, 255, 255, 1);
	display: block;
	background-image:url(../../images/loader_2.gif);
	background-position:center center;
	background-repeat:no-repeat;
}
.lightbox_content {
	padding:0px;
}
.lightbox_content p {
	font-family: 'fnb_sans_regularregular','Calibri',Calibri,Arial, Helvetica, sans-serif;

	line-height:130%;
	line-height:1.3;
}
.web_form_topLogo {
	float:right;
	padding-bottom:20px;
	margin-right:45px;
}

.web_menu_btn_img {
	position:fixed;
	margin-top:36px;
	top:0%;
	left:34px;
	width:45px;
	cursor:pointer;
}
.rm_menu_btn {
	position:absolute;
}
.status_footer {
	height:10px;
	background-color:#999999;
}


/* MAIN NAVIGATION MENU */
#nav_menu_btn_close {
	cursor:pointer;
	vertical-align: baseline !important;
}
.mobi_menu_btn {
	float:left;
	width:45px;
	cursor:pointer;
}
.mobi_float_container {
	position:fixed;
	top:0px;
	left:0px;
	margin-left:0px;
	width:100%;
	background-color:#FFFFFF;
	padding:10px;
	box-sizing:border-box;
}
.mobi_float_logo {
	float:right;
	width:146px;
}
.main_nav_container {
	position:fixed;
	top:20px;
	left:20px;
	background-color:#009999;
	padding:0px 0px;
	border:2px solid #FFFFFF;
	
	width:207px;
	overflow:hidden;
}
.main_nav {
	font-family: 'fnb_sansthin','Calibri',Calibri,Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:none;
	text-align:left;
	padding:0px 0px;
	margin:0px;
	font-size:13px;
	color:#FFFFFF;
}
.main_nav hr {
	border-style:solid;
	border-width:1px 0px 0px 0px;
	color:#FFFFFF;
	margin:0px 10px;
}
.main_nav a {
	color:#FFF;
	text-decoration:none;
}
.main_nav a:visited {
	color:#FFF;
	text-decoration:none;
}
.nav_item {
	color:#FFF;
	padding:5px 10px 5px 10px;
	cursor:pointer;
}
.nav_item:hover {
	background-image:url(../images/web_nav_arrow.png);
	background-position:right;
	background-repeat:no-repeat;
	background-size:17px 30px;
	background-color:#fa9d1e;
}
.no_arrow:hover {
	background-image:none;
}
.nav_social_btns {
	padding:5px 0px 0px 10px;
}
.nav_social_btns img {
	cursor:pointer;
	padding-right:10px;
}
.fb_share_thispage, .twitter_share_site, .in_share_btn { float:left; margin-left:0px; cursor:pointer; width:30px; }


/* FORM VALIDATION STYLES */
.inputFail { border:1px solid #F00 !important; box-sizing:border-box !important; overflow:hidden; margin-left:17px !important; }
.inputFail_noMargin { border:1px solid #F00 !important; box-sizing:border-box !important; overflow:hidden; }
.inputPass { border:none !important; }

.clear { clear:both; }
.FULL_WIDTH { width:100%; }

.MOBILE { display:none; }
.DESKTOP { display:block; }
.placeholder_text { color:#AFAFAF !important; }


/* 760 => 470 */
@media only screen and (max-width: 760px) {
	/* MAIN NAVIGATION MENU */
	.mobi_menu_btn { padding-top:1px;}
	.mobi_float_container { }
	.mobi_float_logo { width:127px; }
	.main_nav_container { margin-top:0px; top:10px; left:50%; margin-left:-225px; width:450px; }
	.main_nav { font-size:15px;}
	.nav_item { padding:10px 10px 10px 10px; }
	
	/* LIGHTBOX */
	.lightbox { top: 150px; left:50%; width:300px; margin-left:-150px; }
	
	#form2016 h1 { margin-top:70px; }
	.MOBILE { display:inherit; }
	.DESKTOP { display:none; }
}


/* 470 => 360 */
@media only screen and (max-width: 470px) {
	/* MAIN NAVIGATION MENU */
	.mobi_float_container {}
	.mobi_float_logo { width:127px; }
	.main_nav_container { margin-top:0px; top:10px; left:50%; margin-left:-48%; width:95%; }
}